<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lua_common_9sprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,282},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>lua_common_9sprite1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,4},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>lua_common_9sprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,278},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lua_common_9sprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,993},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>lua_common_9sprite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,987},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>lua_common_9sprite5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,965},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>lua_common_9sprite6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,99},{69,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,103}}</string>
                <key>sourceSize</key>
                <string>{69,103}</string>
            </dict>
            <key>lua_common_9sprite7.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,315},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lua_common_9sprite8.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,475},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>lua_common_Recover_CloseBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,174},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>lua_common_activty_boss_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{623,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,68}}</string>
                <key>sourceSize</key>
                <string>{623,68}</string>
            </dict>
            <key>lua_common_activty_boss_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,4},{623,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,20}}</string>
                <key>sourceSize</key>
                <string>{623,20}</string>
            </dict>
            <key>lua_common_bantouding.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,278},{31,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,69}}</string>
                <key>sourceSize</key>
                <string>{31,69}</string>
            </dict>
            <key>lua_common_beijing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,779},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>lua_common_bian_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,4},{173,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,113}}</string>
                <key>sourceSize</key>
                <string>{173,113}</string>
            </dict>
            <key>lua_common_biankuangxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,965},{228,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,22}}</string>
                <key>sourceSize</key>
                <string>{228,24}</string>
            </dict>
            <key>lua_common_biankuangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,869},{22,368}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{22,368}}</string>
                <key>sourceSize</key>
                <string>{24,384}</string>
            </dict>
            <key>lua_common_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,183},{166,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,62}}</string>
                <key>sourceSize</key>
                <string>{166,62}</string>
            </dict>
            <key>lua_common_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,897},{258,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,62}}</string>
                <key>sourceSize</key>
                <string>{258,62}</string>
            </dict>
            <key>lua_common_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,553},{166,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,62}}</string>
                <key>sourceSize</key>
                <string>{166,62}</string>
            </dict>
            <key>lua_common_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,475},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>lua_common_exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,415},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>lua_common_exchange_soldout.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,897},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>lua_common_exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,992},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>lua_common_frame_vertical_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,987},{13,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,2}}</string>
                <key>sourceSize</key>
                <string>{13,2}</string>
            </dict>
            <key>lua_common_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,4},{543,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,101}}</string>
                <key>sourceSize</key>
                <string>{543,101}</string>
            </dict>
            <key>lua_common_grey_mask_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,993},{176,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,21}}</string>
                <key>sourceSize</key>
                <string>{176,21}</string>
            </dict>
            <key>lua_common_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,355},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>lua_common_hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,475},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>lua_common_icon_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,355},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>lua_common_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,4},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>lua_common_liangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,633},{471,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,140}}</string>
                <key>sourceSize</key>
                <string>{471,140}</string>
            </dict>
            <key>lua_common_middle_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,965},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,4}</string>
            </dict>
            <key>lua_common_new_officer.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,183},{108,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,89}}</string>
                <key>sourceSize</key>
                <string>{108,89}</string>
            </dict>
            <key>lua_common_normal_bg_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,992},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>lua_common_omg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,869},{117,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>lua_common_panel_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,546},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>lua_common_red_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,77},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>lua_common_shalou.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,355},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>lua_common_time_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,355},{114,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,29}}</string>
                <key>sourceSize</key>
                <string>{114,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lua_common.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7015eeb2095ba0d75bd0cb6260629bdb:1/1$</string>
            <key>textureFileName</key>
            <string>lua_common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
