<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>randGold_9sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,111},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>randGold_beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{400,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,275}}</string>
                <key>sourceSize</key>
                <string>{400,275}</string>
            </dict>
            <key>randGold_beijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,285},{236,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,220}}</string>
                <key>sourceSize</key>
                <string>{236,220}</string>
            </dict>
            <key>randGold_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,285},{150,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,137}</string>
            </dict>
            <key>randGold_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,4},{101,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
            <key>randGold_spite19.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,185},{103,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,59}}</string>
                <key>sourceSize</key>
                <string>{103,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>randGold.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c2b6cc4f3bd3a92ef030a07fe03bca:1/1$</string>
            <key>textureFileName</key>
            <string>randGold.pvr.ccz</string>
        </dict>
    </dict>
</plist>
