<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_zhaopian_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,731},{266,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,261}}</string>
                <key>sourceSize</key>
                <string>{266,261}</string>
            </dict>
            <key>UI_alliance_bg_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,326},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>UI_alliance_bg_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,661},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>UI_alliance_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,2},{617,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,95}}</string>
                <key>sourceSize</key>
                <string>{617,95}</string>
            </dict>
            <key>UI_alliance_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,237},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>UI_alliance_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,513},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>UI_alliance_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,120},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>UI_alliance_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,981},{64,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,6}}</string>
                <key>sourceSize</key>
                <string>{64,6}</string>
            </dict>
            <key>UI_xinshouyindao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,120},{115,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,69}}</string>
                <key>sourceSize</key>
                <string>{115,69}</string>
            </dict>
            <key>UI_xinshouyindao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,528},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>UI_xinshouyindao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,602},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>UI_xinshouyindao_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,416},{617,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,95}}</string>
                <key>sourceSize</key>
                <string>{617,95}</string>
            </dict>
            <key>UI_xinshouyindao_xue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,172},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>UI_xinshouyindao_xue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,2},{108,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>guide_badman.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,528},{318,451}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{318,451}}</string>
                <key>sourceSize</key>
                <string>{320,475}</string>
            </dict>
            <key>guide_jiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,528},{294,455}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{294,455}}</string>
                <key>sourceSize</key>
                <string>{320,475}</string>
            </dict>
            <key>guide_kelaoding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{402,570}}</string>
                <key>offset</key>
                <string>{26,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,30},{402,570}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>guide_nanmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{524,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,601}}</string>
                <key>sourceSize</key>
                <string>{524,601}</string>
            </dict>
            <key>guide_new_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,731},{258,473}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{258,473}}</string>
                <key>sourceSize</key>
                <string>{320,475}</string>
            </dict>
            <key>guide_nuola.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,2},{412,556}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,44},{412,556}}</string>
                <key>sourceSize</key>
                <string>{500,600}</string>
            </dict>
            <key>guide_sikaote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,586}}</string>
                <key>sourceSize</key>
                <string>{542,586}</string>
            </dict>
            <key>skeleton_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,513},{216,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,529}}</string>
                <key>sourceSize</key>
                <string>{216,529}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_General_100.pkm</string>
            <key>size</key>
            <string>{1933,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8430c0d1c1e10dcbc1b3184f8fdc20f:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_General_100.pkm</string>
        </dict>
    </dict>
</plist>
