<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_gongchengcheditu_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{265,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,120}}</string>
                <key>sourceSize</key>
                <string>{265,120}</string>
            </dict>
            <key>FB_biaoti_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1},{325,20}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,20}}</string>
                <key>sourceSize</key>
                <string>{349,20}</string>
            </dict>
            <key>FB_bukejianzao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,21},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>FB_kejianzao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,21},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guangquan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{120,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_300.pkm</string>
            <key>size</key>
            <string>{702,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f07ba508b59f131a48be7eaa82fa53e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_300.pkm</string>
        </dict>
    </dict>
</plist>
