<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_daguaixinxi_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,728},{602,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,121}}</string>
                <key>sourceSize</key>
                <string>{602,121}</string>
            </dict>
            <key>FB_T_yingxiongbiaotizhuangshixian_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1358},{213,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,2}}</string>
                <key>sourceSize</key>
                <string>{213,2}</string>
            </dict>
            <key>FB_T_yingxiongjieshaowenzi_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1336},{16,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,103}}</string>
                <key>sourceSize</key>
                <string>{16,103}</string>
            </dict>
            <key>FB_T_zaobingziy_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,650},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>fb_hero_back_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,4},{640,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,718}}</string>
                <key>sourceSize</key>
                <string>{640,718}</string>
            </dict>
            <key>fb_hero_back_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,728},{640,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,718}}</string>
                <key>sourceSize</key>
                <string>{640,718}</string>
            </dict>
            <key>fb_hero_back_orage.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,650},{640,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,718}}</string>
                <key>sourceSize</key>
                <string>{640,718}</string>
            </dict>
            <key>fb_hero_back_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,4},{640,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,718}}</string>
                <key>sourceSize</key>
                <string>{640,718}</string>
            </dict>
            <key>fb_hero_back_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,718}}</string>
                <key>sourceSize</key>
                <string>{640,718}</string>
            </dict>
            <key>fb_hero_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,728},{640,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,367}}</string>
                <key>sourceSize</key>
                <string>{640,367}</string>
            </dict>
            <key>u_resback_electricity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1374},{417,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,159}}</string>
                <key>sourceSize</key>
                <string>{417,159}</string>
            </dict>
            <key>u_resback_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1374},{417,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,159}}</string>
                <key>sourceSize</key>
                <string>{417,159}</string>
            </dict>
            <key>u_resback_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1374},{417,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,159}}</string>
                <key>sourceSize</key>
                <string>{417,159}</string>
            </dict>
            <key>u_resback_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1374},{417,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,159}}</string>
                <key>sourceSize</key>
                <string>{417,159}</string>
            </dict>
            <key>u_resback_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,728},{417,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,159}}</string>
                <key>sourceSize</key>
                <string>{417,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_251.pkm</string>
            <key>size</key>
            <string>{2037,1537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:154212d49ec21d6ad099aebb7d19d5bd:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_251.pkm</string>
        </dict>
    </dict>
</plist>
