<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1920,1087}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1087}}</string>
                <key>sourceSize</key>
                <string>{1920,1087}</string>
            </dict>
            <key>lighting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1097},{212,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,237}}</string>
                <key>sourceSize</key>
                <string>{212,237}</string>
            </dict>
            <key>lighting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1097},{310,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,370}}</string>
                <key>sourceSize</key>
                <string>{310,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_534.pkm</string>
            <key>size</key>
            <string>{1928,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596b26dd00e00ab4f0a21a0c00241b08:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_534.pkm</string>
        </dict>
    </dict>
</plist>
