<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KIng_Title_frame_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{319,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,23}}</string>
                <key>sourceSize</key>
                <string>{319,23}</string>
            </dict>
            <key>KIng_input_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1569},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>King_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1729},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>King_Debuff_.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1399},{168,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,204}}</string>
                <key>sourceSize</key>
                <string>{168,204}</string>
            </dict>
            <key>King_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1569},{170,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,215}}</string>
                <key>sourceSize</key>
                <string>{170,215}</string>
            </dict>
            <key>King_changeName0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1809},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>King_changeName1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,659},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>King_icon_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1376},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>King_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1667},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>King_place.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1577},{88,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>King_send_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1626},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>King_throne_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1144},{192,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,253}}</string>
                <key>sourceSize</key>
                <string>{192,253}</string>
            </dict>
            <key>King_throne_bg_befor.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,538},{316,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,91}}</string>
                <key>sourceSize</key>
                <string>{316,91}</string>
            </dict>
            <key>changeFlagOrPlaceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1951},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>flag_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,857},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>jupao_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1205},{319,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,233}}</string>
                <key>sourceSize</key>
                <string>{319,233}</string>
            </dict>
            <key>king_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{640,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,425}}</string>
                <key>sourceSize</key>
                <string>{640,425}</string>
            </dict>
            <key>little_Kingdom_fight_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{366,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,86}}</string>
                <key>sourceSize</key>
                <string>{366,86}</string>
            </dict>
            <key>little_Kingdom_fight_Title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,538},{320,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,109}}</string>
                <key>sourceSize</key>
                <string>{320,109}</string>
            </dict>
            <key>little_Kingdom_fight_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1482},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>little_Kingdom_fight_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1577},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>presidentPolicyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1857},{92,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>president_statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,538},{377,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,317}}</string>
                <key>sourceSize</key>
                <string>{377,317}</string>
            </dict>
            <key>statue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1147},{106,114}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{106,114}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>statue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1374},{128,134}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>statue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,659},{128,134}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>statue_pic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,860},{204,282}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,4},{204,282}}</string>
                <key>sourceSize</key>
                <string>{366,286}</string>
            </dict>
            <key>statue_pic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1526},{254,284}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,2},{254,284}}</string>
                <key>sourceSize</key>
                <string>{366,286}</string>
            </dict>
            <key>statue_pic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1812},{212,272}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,14},{212,272}}</string>
                <key>sourceSize</key>
                <string>{366,286}</string>
            </dict>
            <key>u_Throne/greatLaunchCenterDownLoad.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,892},{602,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,122}}</string>
                <key>sourceSize</key>
                <string>{602,122}</string>
            </dict>
            <key>u_Throne/u_ThroneBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,340},{500,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,196}}</string>
                <key>sourceSize</key>
                <string>{500,196}</string>
            </dict>
            <key>u_Throne/u_ThroneBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,336}}</string>
                <key>sourceSize</key>
                <string>{500,336}</string>
            </dict>
            <key>u_Throne/u_ThroneBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{500,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,524}}</string>
                <key>sourceSize</key>
                <string>{500,524}</string>
            </dict>
            <key>u_Throne/u_ThroneBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,857},{627,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,14}}</string>
                <key>sourceSize</key>
                <string>{627,14}</string>
            </dict>
            <key>u_Throne/u_ThroneBg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,888}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,888}}</string>
                <key>sourceSize</key>
                <string>{500,888}</string>
            </dict>
            <key>u_Throne/u_ThroneBg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1159},{140,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,129}}</string>
                <key>sourceSize</key>
                <string>{140,129}</string>
            </dict>
            <key>u_Throne/u_ThroneBg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1301},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>u_Throne/u_ThroneBg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1496},{113,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,26}}</string>
                <key>sourceSize</key>
                <string>{113,26}</string>
            </dict>
            <key>u_Throne/u_ThroneBg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,714},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
            <key>u_Throne/u_ThroneCell01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{500,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,140}}</string>
                <key>sourceSize</key>
                <string>{500,140}</string>
            </dict>
            <key>u_Throne/u_ThroneCell02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,795},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>u_Throne/u_ThroneCell04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,504},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_Throne/u_ThroneCellIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1510},{129,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>u_Throne/u_ThroneCellIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1786},{210,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,173}}</string>
                <key>sourceSize</key>
                <string>{210,173}</string>
            </dict>
            <key>u_Throne/u_ThroneCellIcon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,370},{97,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,153}}</string>
                <key>sourceSize</key>
                <string>{97,153}</string>
            </dict>
            <key>u_Throne/u_ThroneCellIcon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,856},{154,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,124}}</string>
                <key>sourceSize</key>
                <string>{154,124}</string>
            </dict>
            <key>u_Throne/u_ThroneCellIcon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1012},{145,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,124}}</string>
                <key>sourceSize</key>
                <string>{145,124}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1880},{116,120}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{116,120}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1031},{114,114}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,795},{118,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{118,120}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,915},{120,114}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame05.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1752},{114,126}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{114,126}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame06.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1626},{128,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>u_Throne/u_ThroneFrame07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1748},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>u_Throne/u_ThroneMedalIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,525},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>u_Throne/u_ThroneMedalIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1263},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>u_Throne/u_ThronePlayIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1960},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>u_Throne/u_ThroneResourceBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1905},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>u_Throne/u_ThroneResourceBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1850},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>u_Throne/u_ThroneVS.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,857},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>zt_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1263},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>zt_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,857},{221,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,346}}</string>
                <key>sourceSize</key>
                <string>{221,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_16.pkm</string>
            <key>size</key>
            <string>{1263,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3b9ce8caf10151bb2971cdc648bb6c4:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_16.pkm</string>
        </dict>
    </dict>
</plist>
