<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ResourceAd/u_ResourceAdBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1888},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1790},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1692},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1594},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1986},{157,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,51}}</string>
                <key>sourceSize</key>
                <string>{157,51}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1986},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1496},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1398},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1300},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1202},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1104},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1006},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,908},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,810},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,712},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg25.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,614},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg27.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,220},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg28.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg29.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,120},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg30.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,516},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg31.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,418},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>u_ResourceAd/u_ResourceAdBg32.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,320},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_8.pkm</string>
            <key>size</key>
            <string>{648,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbbe3a6d92e69d8069268857cbf021ae:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_8.pkm</string>
        </dict>
    </dict>
</plist>
