<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BD_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,143},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>BD_servername.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1730},{249,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,35}}</string>
                <key>sourceSize</key>
                <string>{249,35}</string>
            </dict>
            <key>UI_map_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1587},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>armory_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1907},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,95}</string>
            </dict>
            <key>flag_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,433},{3,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,46}}</string>
                <key>sourceSize</key>
                <string>{3,46}</string>
            </dict>
            <key>forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1985},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>lab_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1923},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,95}</string>
            </dict>
            <key>loading_revolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1403},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,322}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>minimap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{884,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,518}}</string>
                <key>sourceSize</key>
                <string>{884,518}</string>
            </dict>
            <key>minimap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1403},{529,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,133}}</string>
                <key>sourceSize</key>
                <string>{529,133}</string>
            </dict>
            <key>minimap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,4},{529,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,133}}</string>
                <key>sourceSize</key>
                <string>{529,133}</string>
            </dict>
            <key>minimap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,750},{311,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,311}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>minimap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,433},{311,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,311}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
            <key>minimap_Cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1818},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>minimap_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1686},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>minimap_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1530},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>minimap_serBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2002},{290,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,30}}</string>
                <key>sourceSize</key>
                <string>{290,30}</string>
            </dict>
            <key>path_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1559},{290,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,105}}</string>
                <key>sourceSize</key>
                <string>{290,105}</string>
            </dict>
            <key>path_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,528},{160,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,430}}</string>
                <key>sourceSize</key>
                <string>{160,430}</string>
            </dict>
            <key>path_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1670},{130,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,297}}</string>
                <key>sourceSize</key>
                <string>{130,297}</string>
            </dict>
            <key>path_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1759},{106,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{106,188}</string>
            </dict>
            <key>path_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,970},{170,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,257}}</string>
                <key>sourceSize</key>
                <string>{170,257}</string>
            </dict>
            <key>path_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,970},{214,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,426}}</string>
                <key>sourceSize</key>
                <string>{214,426}</string>
            </dict>
            <key>path_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1275},{138,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,299}}</string>
                <key>sourceSize</key>
                <string>{138,299}</string>
            </dict>
            <key>path_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1403},{98,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,321}}</string>
                <key>sourceSize</key>
                <string>{98,321}</string>
            </dict>
            <key>path_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1750},{102,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,277}}</string>
                <key>sourceSize</key>
                <string>{102,277}</string>
            </dict>
            <key>path_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,306},{121,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,492}}</string>
                <key>sourceSize</key>
                <string>{121,492}</string>
            </dict>
            <key>path_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,433},{392,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,173}}</string>
                <key>sourceSize</key>
                <string>{392,173}</string>
            </dict>
            <key>path_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1731},{330,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,217}}</string>
                <key>sourceSize</key>
                <string>{330,217}</string>
            </dict>
            <key>path_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,143},{488,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,157}}</string>
                <key>sourceSize</key>
                <string>{488,157}</string>
            </dict>
            <key>path_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1750},{283,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,103}}</string>
                <key>sourceSize</key>
                <string>{283,103}</string>
            </dict>
            <key>path_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1419},{281,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,162}}</string>
                <key>sourceSize</key>
                <string>{281,162}</string>
            </dict>
            <key>path_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1402},{351,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,123}}</string>
                <key>sourceSize</key>
                <string>{351,123}</string>
            </dict>
            <key>path_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,831},{359,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,192}}</string>
                <key>sourceSize</key>
                <string>{359,192}</string>
            </dict>
            <key>path_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1067},{304,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,202}}</string>
                <key>sourceSize</key>
                <string>{304,202}</string>
            </dict>
            <key>persion_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1806},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,95}</string>
            </dict>
            <key>position_alli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1986},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>position_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1953},{59,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,85}}</string>
                <key>sourceSize</key>
                <string>{59,85}</string>
            </dict>
            <key>position_crops.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1907},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>position_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1818},{59,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,85}}</string>
                <key>sourceSize</key>
                <string>{59,85}</string>
            </dict>
            <key>position_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1920},{73,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>position_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1806},{59,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,85}}</string>
                <key>sourceSize</key>
                <string>{59,85}</string>
            </dict>
            <key>position_territory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1920},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>relic_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1382},{159,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,142}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>resource_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,528},{436,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,224}}</string>
                <key>sourceSize</key>
                <string>{436,224}</string>
            </dict>
            <key>server_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1196},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>server_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1196},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>server_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1196},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>server_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1196},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>server_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1233},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>server_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1196},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>superMarket_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1938},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,95}</string>
            </dict>
            <key>u_BackLand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1419},{259,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,134}}</string>
                <key>sourceSize</key>
                <string>{259,134}</string>
            </dict>
            <key>u_BackLand02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1587},{258,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,157}}</string>
                <key>sourceSize</key>
                <string>{258,157}</string>
            </dict>
            <key>u_DesertMapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1806},{120,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,111}}</string>
                <key>sourceSize</key>
                <string>{120,111}</string>
            </dict>
            <key>u_FortressExpressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,528},{500,869}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,869}}</string>
                <key>sourceSize</key>
                <string>{500,869}</string>
            </dict>
            <key>u_FortressExpressBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1730},{283,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,42}}</string>
                <key>sourceSize</key>
                <string>{283,42}</string>
            </dict>
            <key>u_FortressExpressBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1954},{283,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,42}}</string>
                <key>sourceSize</key>
                <string>{283,42}</string>
            </dict>
            <key>u_FortressExpressIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1909},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_9.pkm</string>
            <key>size</key>
            <string>{1430,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81f860622f929dbb96a96ba61013aee0:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_9.pkm</string>
        </dict>
    </dict>
</plist>
