<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_BTN_bingzhongjinji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,397},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>FB_BTN_bingzhongjinji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,457},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{41,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>FB_BTN_bingzhongjinji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,309},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{53,39}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>FB_IC_farmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,369},{34,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FB_IC_soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,278},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{22,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FB_IC_trader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,452},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FB_T_Survivor_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,461},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FB_T_Survivor_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,440},{194,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,40}}</string>
                <key>sourceSize</key>
                <string>{194,40}</string>
            </dict>
            <key>FB_T_Survivor_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,329},{45,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,1}}</string>
                <key>sourceSize</key>
                <string>{45,1}</string>
            </dict>
            <key>FB_T_jianzao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,223},{104,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>FB_T_jianzaobenzibiaotou_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,476},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>FB_T_yingxiongxunzhangliebiao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,329},{34,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,199}}</string>
                <key>sourceSize</key>
                <string>{34,199}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,426},{48,44}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,453},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,393},{60,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,397},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,433},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,377},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,309},{60,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,440},{62,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,423},{62,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,329},{62,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,369},{62,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,448},{60,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,453},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,368},{52,48}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,397},{52,50}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,440},{54,52}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,448},{56,54}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,448},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,448},{58,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_bingzhong_lvsheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,433},{60,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Free_popul_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,329},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Free_popul_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,329},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Free_popul_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,223},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>free_newChapterBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,201},{599,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,71}}</string>
                <key>sourceSize</key>
                <string>{599,71}</string>
            </dict>
            <key>free_newChapterBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{603,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,191}}</string>
                <key>sourceSize</key>
                <string>{603,191}</string>
            </dict>
            <key>free_newChapterBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,4},{613,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,119}}</string>
                <key>sourceSize</key>
                <string>{613,119}</string>
            </dict>
            <key>free_newChapterCarIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,4},{278,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,213}}</string>
                <key>sourceSize</key>
                <string>{278,213}</string>
            </dict>
            <key>free_newChapterLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,440},{213,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,2}}</string>
                <key>sourceSize</key>
                <string>{213,2}</string>
            </dict>
            <key>free_news_monsterTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,359},{575,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,75}}</string>
                <key>sourceSize</key>
                <string>{575,75}</string>
            </dict>
            <key>free_news_monsterTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,278},{575,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,75}}</string>
                <key>sourceSize</key>
                <string>{575,75}</string>
            </dict>
            <key>free_news_monsterVs.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,369},{88,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,48}}</string>
                <key>sourceSize</key>
                <string>{88,48}</string>
            </dict>
            <key>image222000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,129},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>image222001.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,129},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>image222002.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,129},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_279.pkm</string>
            <key>size</key>
            <string>{1514,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9646ba9c909842bf952286b249cd8dd9:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_279.pkm</string>
        </dict>
    </dict>
</plist>
