<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_jinengkong.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>free_Main_RedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,98},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>free_Main_population01.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,98},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>free_Main_population02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>free_Main_populationBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,198},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>free_newsball_iconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,254},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>free_newsball_iconGreenBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>free_newsball_iconRedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,391},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>yingxiong_anniuzhuangshi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,391},{10,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,112}}</string>
                <key>sourceSize</key>
                <string>{10,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_401.png</string>
            <key>size</key>
            <string>{105,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5185f51b8e54c07fc19c033938efe00c:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_401.png</string>
        </dict>
    </dict>
</plist>
