<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_pyramid.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,694},{698,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,468}}</string>
                <key>sourceSize</key>
                <string>{698,468}</string>
            </dict>
            <key>throne_10086.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,329},{734,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,359}}</string>
                <key>sourceSize</key>
                <string>{734,359}</string>
            </dict>
            <key>throne_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,694},{800,557}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{800,557}}</string>
                <key>sourceSize</key>
                <string>{826,573}</string>
            </dict>
            <key>throne_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1257},{881,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{881,495}}</string>
                <key>sourceSize</key>
                <string>{881,495}</string>
            </dict>
            <key>throne_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>throne_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>throne_tower_10086.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,4},{734,319}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{734,319}}</string>
                <key>sourceSize</key>
                <string>{734,327}</string>
            </dict>
            <key>throne_tower_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,329},{734,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,327}}</string>
                <key>sourceSize</key>
                <string>{734,327}</string>
            </dict>
            <key>throne_tower_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,4},{710,249}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,78},{710,249}}</string>
                <key>sourceSize</key>
                <string>{734,327}</string>
            </dict>
            <key>throne_tower_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>throne_tower_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_113.pkm</string>
            <key>size</key>
            <string>{1512,1756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d80ad671fdd658307bb95e966f03cee0:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_113.pkm</string>
        </dict>
    </dict>
</plist>
