<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_Survivor_BG_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,4},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>FB_T_carlist_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,74},{15,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,129}}</string>
                <key>sourceSize</key>
                <string>{15,129}</string>
            </dict>
            <key>FB_T_carlist_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,74},{15,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,129}}</string>
                <key>sourceSize</key>
                <string>{15,129}</string>
            </dict>
            <key>FB_T_huodongmianban_01_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,4},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_T_huodongmianban_02_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,4},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FB_T_huodongmianban_03_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,4},{282,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,55}}</string>
                <key>sourceSize</key>
                <string>{282,55}</string>
            </dict>
            <key>FB_T_manji_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,74},{602,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,122}}</string>
                <key>sourceSize</key>
                <string>{602,122}</string>
            </dict>
            <key>FB_jianzaoshang_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,74},{22,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,138}}</string>
                <key>sourceSize</key>
                <string>{22,138}</string>
            </dict>
            <key>Free_popul_Msg_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,74},{602,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,362}}</string>
                <key>sourceSize</key>
                <string>{602,362}</string>
            </dict>
            <key>free_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,74},{20,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,221}}</string>
                <key>sourceSize</key>
                <string>{20,221}</string>
            </dict>
            <key>icon222100.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222101.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222102.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222103.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222104.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222105.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222106.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222200.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222201.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222202.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222203.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222204.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222205.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222206.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222300.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222301.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222302.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222303.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222304.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon222305.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,4},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_400.png</string>
            <key>size</key>
            <string>{1382,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40fdc5eb9d6e290aaab88b1329600c24:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_400.png</string>
        </dict>
    </dict>
</plist>
