<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,110},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>bluedot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,238},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gray_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,49},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>graydot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,254},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>green_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,198},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>greendot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,238},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>grey_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,72},{313,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,32}}</string>
                <key>sourceSize</key>
                <string>{313,32}</string>
            </dict>
            <key>guide_gatherRes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,137},{359,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,121}}</string>
                <key>sourceSize</key>
                <string>{359,121}</string>
            </dict>
            <key>guide_gatherRes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,137},{359,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,121}}</string>
                <key>sourceSize</key>
                <string>{359,121}</string>
            </dict>
            <key>jiangli_bantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,98},{632,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,33}}</string>
                <key>sourceSize</key>
                <string>{632,33}</string>
            </dict>
            <key>jiangli_wupindiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,110},{151,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,40}}</string>
                <key>sourceSize</key>
                <string>{151,40}</string>
            </dict>
            <key>orange_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,4},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>orangedot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,200},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>purple_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,4},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>purpledot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,170},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>red_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,209},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>reddot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,140},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>renwu_shangdiban3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,134},{321,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,83}}</string>
                <key>sourceSize</key>
                <string>{321,83}</string>
            </dict>
            <key>renwu_shangdiban_zhankaitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,4},{640,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,33}}</string>
                <key>sourceSize</key>
                <string>{640,33}</string>
            </dict>
            <key>renwu_tubiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,110},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>renwu_xiadiban_biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,43},{632,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,23}}</string>
                <key>sourceSize</key>
                <string>{632,23}</string>
            </dict>
            <key>renwu_xiadiban_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,110},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>renwu_xiadiban_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,254},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>renwu_zhongjian_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,223},{320,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,52}}</string>
                <key>sourceSize</key>
                <string>{320,52}</string>
            </dict>
            <key>u_Task/u_TaskCellArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,155},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>u_Task/u_TaskCellBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,4},{636,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,88}}</string>
                <key>sourceSize</key>
                <string>{636,88}</string>
            </dict>
            <key>u_Task/u_TaskCellBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,192},{636,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,88}}</string>
                <key>sourceSize</key>
                <string>{636,88}</string>
            </dict>
            <key>u_Task/u_TaskCellBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,98},{636,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,88}}</string>
                <key>sourceSize</key>
                <string>{636,88}</string>
            </dict>
            <key>u_Task/u_TaskCellBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{636,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,88}}</string>
                <key>sourceSize</key>
                <string>{636,88}</string>
            </dict>
            <key>u_Task/u_TaskCellBg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,72},{355,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,56}}</string>
                <key>sourceSize</key>
                <string>{355,56}</string>
            </dict>
            <key>u_Task/u_TaskCellBg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,264},{14,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,64}}</string>
                <key>sourceSize</key>
                <string>{14,64}</string>
            </dict>
            <key>u_Task/u_TaskCellBg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,94},{10,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,31}}</string>
                <key>sourceSize</key>
                <string>{10,31}</string>
            </dict>
            <key>white_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,164},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>whitedot_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,110},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_32.pkm</string>
            <key>size</key>
            <string>{2022,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ab2bd73612c1bf91bad3cda2917abbe:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_32.pkm</string>
        </dict>
    </dict>
</plist>
