<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_BTN_tisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,305},{80,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>FB_IC_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,363},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>FB_IC_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,363},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>FB_IC_gongji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,363},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>FB_IC_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,357},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>FB_IC_shoucang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,305},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>FB_IC_yingxiongmoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,305},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>FB_T_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,305},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>FB_T_chenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,305},{641,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,85}}</string>
                <key>sourceSize</key>
                <string>{641,85}</string>
            </dict>
            <key>FB_T_chenggongditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,4},{644,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,295}}</string>
                <key>sourceSize</key>
                <string>{644,295}</string>
            </dict>
            <key>FB_T_fanyexiaodian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,395},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>FB_T_fanyexiaodian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,305},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>FB_T_fenjiexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,396},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>FB_T_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,305},{268,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,84}}</string>
                <key>sourceSize</key>
                <string>{268,84}</string>
            </dict>
            <key>FB_T_shibaiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{644,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,295}}</string>
                <key>sourceSize</key>
                <string>{644,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_290.pkm</string>
            <key>size</key>
            <string>{1302,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b102a9a76fbc652d63d9750cbac956e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_290.pkm</string>
        </dict>
    </dict>
</plist>
