<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_chuzheng_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,4},{19,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,159}}</string>
                <key>sourceSize</key>
                <string>{19,159}</string>
            </dict>
            <key>FB_T_chuzhengbianji_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,290}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
            <key>fb_formationSoldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,252},{500,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,120}}</string>
                <key>sourceSize</key>
                <string>{500,120}</string>
            </dict>
            <key>free_formatin_CellIconBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,992},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>free_formatin_CellIconBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,876},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>free_formatin_CellIconBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,760},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>free_formatin_CellIconBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,644},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>free_formatin_topBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,300},{639,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,240}}</string>
                <key>sourceSize</key>
                <string>{639,240}</string>
            </dict>
            <key>free_formation_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,778},{641,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,217}}</string>
                <key>sourceSize</key>
                <string>{641,217}</string>
            </dict>
            <key>free_formation_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,546},{641,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,226}}</string>
                <key>sourceSize</key>
                <string>{641,226}</string>
            </dict>
            <key>free_march_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1001},{193,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,133}}</string>
                <key>sourceSize</key>
                <string>{193,133}</string>
            </dict>
            <key>free_march_Bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{320,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,242}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>free_march_Bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1001},{506,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,133}}</string>
                <key>sourceSize</key>
                <string>{506,133}</string>
            </dict>
            <key>free_march_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,252},{268,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,236}}</string>
                <key>sourceSize</key>
                <string>{268,236}</string>
            </dict>
            <key>free_march_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,760},{38,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,133}}</string>
                <key>sourceSize</key>
                <string>{38,133}</string>
            </dict>
            <key>free_march_select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,758},{94,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,217}}</string>
                <key>sourceSize</key>
                <string>{94,217}</string>
            </dict>
            <key>free_march_soldier_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,526},{169,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,112}}</string>
                <key>sourceSize</key>
                <string>{169,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_278.pkm</string>
            <key>size</key>
            <string>{1017,1138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7509eb47df13849477c6d0c67aabe78f:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_278.pkm</string>
        </dict>
    </dict>
</plist>
