<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_jiangli_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,453},{313,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,167}}</string>
                <key>sourceSize</key>
                <string>{313,167}</string>
            </dict>
            <key>FB_T_lingqujiangli_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,929},{352,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,142}}</string>
                <key>sourceSize</key>
                <string>{352,142}</string>
            </dict>
            <key>FB_T_lingqujiangli_BGshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,528},{294,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,142}}</string>
                <key>sourceSize</key>
                <string>{294,142}</string>
            </dict>
            <key>FB_T_lingqujiangli_BGxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1079},{294,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,154}}</string>
                <key>sourceSize</key>
                <string>{294,154}</string>
            </dict>
            <key>FB_T_lingqujiangli_BGzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,830},{294,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,9}}</string>
                <key>sourceSize</key>
                <string>{294,9}</string>
            </dict>
            <key>FB_T_lingqujiangli_btbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,680},{310,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,64}}</string>
                <key>sourceSize</key>
                <string>{310,64}</string>
            </dict>
            <key>FB_T_lingqujiangli_btzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,449},{406,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,43}}</string>
                <key>sourceSize</key>
                <string>{406,43}</string>
            </dict>
            <key>MonsterAttack_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,358},{50,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,549}}</string>
                <key>sourceSize</key>
                <string>{50,549}</string>
            </dict>
            <key>UI_gongji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,333},{105,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,12}}</string>
                <key>sourceSize</key>
                <string>{105,12}</string>
            </dict>
            <key>baoxiang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,873},{234,145}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{234,145}}</string>
                <key>sourceSize</key>
                <string>{244,183}</string>
            </dict>
            <key>baoxiang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,702},{244,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,183}}</string>
                <key>sourceSize</key>
                <string>{244,183}</string>
            </dict>
            <key>baoxiang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1026},{241,149}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{241,149}}</string>
                <key>sourceSize</key>
                <string>{241,187}</string>
            </dict>
            <key>baoxiang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,678},{241,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,187}}</string>
                <key>sourceSize</key>
                <string>{241,187}</string>
            </dict>
            <key>baoxiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,700},{248,150}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{248,150}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>baoxiang3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,500},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>baoxiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,994},{240,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,185}}</string>
                <key>sourceSize</key>
                <string>{240,185}</string>
            </dict>
            <key>baoxiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,451},{238,109}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{238,109}}</string>
                <key>sourceSize</key>
                <string>{240,185}</string>
            </dict>
            <key>baoxiang_zuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1026},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>baoxiang_zuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1126},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>black_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1202},{5,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,136}}</string>
                <key>sourceSize</key>
                <string>{5,136}</string>
            </dict>
            <key>blue_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,643},{330,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,10}}</string>
                <key>sourceSize</key>
                <string>{330,10}</string>
            </dict>
            <key>bluebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1046},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>blueline_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1163},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>di_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,416},{637,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,18}}</string>
                <key>sourceSize</key>
                <string>{637,18}</string>
            </dict>
            <key>false.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1093},{243,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,44}}</string>
                <key>sourceSize</key>
                <string>{243,44}</string>
            </dict>
            <key>false_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,333},{288,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,74}}</string>
                <key>sourceSize</key>
                <string>{288,78}</string>
            </dict>
            <key>free_halfTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,774},{160,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,207}}</string>
                <key>sourceSize</key>
                <string>{160,207}</string>
            </dict>
            <key>free_layerDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,661},{320,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,11}}</string>
                <key>sourceSize</key>
                <string>{320,11}</string>
            </dict>
            <key>gift_more_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1077},{56,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,41}}</string>
                <key>sourceSize</key>
                <string>{56,41}</string>
            </dict>
            <key>greenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1114},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>guide_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1017},{115,101}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{115,101}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1145},{115,89}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{115,89}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,786},{109,109}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{109,109}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1126},{119,83}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{119,83}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1145},{89,101}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{89,101}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,641},{125,79}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{125,79}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1093},{61,107}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{61,107}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>guide_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,906},{105,81}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{105,81}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>img_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1180},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>levelup_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,543},{178,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,90}}</string>
                <key>sourceSize</key>
                <string>{178,90}</string>
            </dict>
            <key>light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1020},{160,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,232}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>middle_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,774},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,4}</string>
            </dict>
            <key>neibu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,994},{13,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,2}}</string>
                <key>sourceSize</key>
                <string>{13,2}</string>
            </dict>
            <key>red_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,5},{3,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,303}}</string>
                <key>sourceSize</key>
                <string>{3,303}</string>
            </dict>
            <key>redbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1145},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>resource_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,442},{517,1}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,1}}</string>
                <key>sourceSize</key>
                <string>{519,1}</string>
            </dict>
            <key>resource_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,893},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>resource_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,903},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>scout_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,680},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>seperateline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1069},{25,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,4}}</string>
                <key>sourceSize</key>
                <string>{25,4}</string>
            </dict>
            <key>shengji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,568},{342,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,67}}</string>
                <key>sourceSize</key>
                <string>{342,67}</string>
            </dict>
            <key>tanchu_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,451},{370,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,69}}</string>
                <key>sourceSize</key>
                <string>{370,69}</string>
            </dict>
            <key>tiao_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1003},{267,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,70}}</string>
                <key>sourceSize</key>
                <string>{267,70}</string>
            </dict>
            <key>tiao_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,925},{267,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,70}}</string>
                <key>sourceSize</key>
                <string>{267,70}</string>
            </dict>
            <key>tiao_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,847},{267,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,70}}</string>
                <key>sourceSize</key>
                <string>{267,70}</string>
            </dict>
            <key>tiao_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,752},{267,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,70}}</string>
                <key>sourceSize</key>
                <string>{267,70}</string>
            </dict>
            <key>train_guide_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,1019},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>traintroop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,929},{49,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,52}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>u_AnniversaryActivity/AnniversaryActivity01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,543},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>u_AnniversaryActivity/AnniversaryActivity02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,873},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>u_AnniversaryActivity/AnniversaryActivity16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,786},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>u_CitySkin/Avatar_world_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,858},{254,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{254,128}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>u_CitySkin/kuang_888.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,994},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,528},{24,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,66}}</string>
                <key>sourceSize</key>
                <string>{24,66}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,961},{77,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,103}}</string>
                <key>sourceSize</key>
                <string>{77,103}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,906},{77,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,103}}</string>
                <key>sourceSize</key>
                <string>{77,103}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,847},{162,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,75}}</string>
                <key>sourceSize</key>
                <string>{162,75}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,568},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,828},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinIcon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1107},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinIcon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1188},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>u_CitySkin/u_CitySkinIcon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,774},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>u_GEDiamondBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,5},{500,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,180}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>u_Package/u_package_bg01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{653,5},{500,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,344}}</string>
                <key>sourceSize</key>
                <string>{500,344}</string>
            </dict>
            <key>u_Package/u_package_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{640,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,440}}</string>
                <key>sourceSize</key>
                <string>{640,440}</string>
            </dict>
            <key>u_Package/u_package_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,5},{343,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,320}</string>
            </dict>
            <key>u_Package/u_package_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,989},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>u_Package/u_package_bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,357},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>u_Package/u_package_bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,752},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>u_Package/u_package_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1079},{155,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,126}}</string>
                <key>sourceSize</key>
                <string>{155,126}</string>
            </dict>
            <key>u_UpgradeText01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,302},{471,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,48}}</string>
                <key>sourceSize</key>
                <string>{471,50}</string>
            </dict>
            <key>u_act_crazyscientist_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,453},{409,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,468}}</string>
                <key>sourceSize</key>
                <string>{409,468}</string>
            </dict>
            <key>u_subclass_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,193},{500,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,101}}</string>
                <key>sourceSize</key>
                <string>{500,101}</string>
            </dict>
            <key>u_subclass_cell_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,500},{194,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,225}}</string>
                <key>sourceSize</key>
                <string>{194,225}</string>
            </dict>
            <key>underline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1081},{301,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,4}}</string>
                <key>sourceSize</key>
                <string>{301,4}</string>
            </dict>
            <key>user_levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,415},{120,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,191}}</string>
                <key>sourceSize</key>
                <string>{120,191}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1183},{246,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,51}}</string>
                <key>sourceSize</key>
                <string>{246,51}</string>
            </dict>
            <key>yellowbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1077},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>zombie_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,641},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>zranyou_exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1046},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>zranyou_exchange_soldout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,442},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>zranyou_exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,752},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_15.pkm</string>
            <key>size</key>
            <string>{2031,1239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b80fc8c2aa53dec62f1ea93d8fccde9:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_15.pkm</string>
        </dict>
    </dict>
</plist>
