<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>603103.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,138},{82,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{82,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604301.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,174},{69,55}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{69,55}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604403.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,89},{79,79}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604404.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,4},{79,79}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604405.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,4},{80,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604406.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{82,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604407.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,4},{124,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{124,132}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>604603.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,144},{79,85}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{79,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650306.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,115},{92,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>650403.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,144},{83,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650404.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,4},{105,95}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{105,95}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>652101.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,142},{94,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{94,86}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>652301.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,4},{128,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{128,106}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>herosk_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_102.pkm</string>
            <key>size</key>
            <string>{680,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bceeef274498255145aa55afb9dca5f:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_102.pkm</string>
        </dict>
    </dict>
</plist>
