<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Free_single_sangshi_0010000.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,4},{21,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,4},{21,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,4},{23,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,4},{23,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,4},{23,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,4},{23,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,4},{21,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,4},{21,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{21,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,4},{19,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{19,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,4},{19,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{19,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,4},{17,49}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{17,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,4},{17,49}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{17,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,4},{17,49}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{17,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,4},{21,49}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,4},{21,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,4},{23,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,4},{23,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{25,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{25,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,4},{25,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{25,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,4},{23,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,4},{23,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{23,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,4},{21,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,4},{21,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,4},{19,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{19,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,4},{19,49}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{19,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,4},{19,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{19,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010026.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,4},{19,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{19,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010027.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,4},{19,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{19,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010028.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,4},{21,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Free_single_sangshi_0010029.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,4},{21,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{21,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>free_banman_N_Stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,118},{65,110}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{65,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_Stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,118},{67,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{67,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_Stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,4},{67,104}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{67,104}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_Stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,118},{77,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_Stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,118},{55,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{55,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_Stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,4},{61,104}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{61,104}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_Stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,4},{69,104}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{69,104}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_move_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,118},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,4},{75,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{75,108}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,4},{79,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,106}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,118},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,118},{67,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_banman_N_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,118},{79,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>free_guide_cover_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,892},{154,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{154,195}}</string>
                <key>sourceSize</key>
                <string>{160,207}</string>
            </dict>
            <key>free_sangshi_W_0010000.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,268},{204,146}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,64},{204,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,268},{206,146}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{206,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,268},{208,146}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{208,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,268},{214,146}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{214,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,268},{210,144}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{210,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,268},{206,144}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{206,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,118},{204,144}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{204,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,268},{206,146}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{206,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,268},{208,146}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{208,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,420},{212,146}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{212,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,420},{210,146}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{210,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,420},{212,146}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{212,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,420},{212,146}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{212,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,420},{208,146}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{208,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,574},{208,148}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{208,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,574},{214,150}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,60},{214,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,574},{212,150}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{212,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,420},{208,148}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{208,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,420},{206,148}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,62},{206,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,574},{206,148}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,62},{206,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,732},{210,152}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{210,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,732},{214,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{214,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,732},{212,152}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,59},{212,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,732},{210,152}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{210,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,732},{208,154}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{208,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,574},{208,152}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{208,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,732},{210,154}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{210,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010027.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,892},{214,154}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{214,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,892},{210,154}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,56},{210,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,892},{206,154}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,56},{206,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,892},{208,154}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{208,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010031.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,892},{210,154}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{210,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,732},{212,152}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{212,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010033.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,732},{214,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{214,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010034.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,892},{214,154}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,56},{214,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,574},{210,152}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{210,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,574},{206,152}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{206,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010037.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,892},{206,154}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,56},{206,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010038.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,892},{210,154}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{210,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010039.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,574},{214,150}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,59},{214,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,420},{212,146}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,63},{212,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,118},{208,144}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,65},{208,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010042.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,118},{204,144}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{204,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010043.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,118},{206,144}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{206,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_W_0010044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,118},{208,144}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,65},{208,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>free_sangshi_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,4},{75,93}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{75,93}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>free_sangshi_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,4},{141,105}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,105}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>free_sangshi_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,118},{141,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,111}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>free_sangshi_hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,4},{141,95}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{141,95}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>free_sangshi_hurt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,4},{141,95}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{141,95}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>free_sangshi_hurt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,4},{133,93}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{133,93}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_252.pkm</string>
            <key>size</key>
            <string>{1888,1095}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d1df907da8e02b561a9ba94d4d94fab:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_252.pkm</string>
        </dict>
    </dict>
</plist>
