<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14_suoding.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,210},{114,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{114,108}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>army_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,893},{40,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bachang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,895},{44,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{44,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,987},{22,38}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{22,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,588},{53,65}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{53,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bachang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,938},{38,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,851},{63,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,39}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>bachang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,850},{52,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{52,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,539},{54,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{54,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,969},{42,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{42,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,969},{40,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{40,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,116},{48,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,169},{46,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,772},{73,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,32}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>bachang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,962},{44,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{56,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bachang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,396},{55,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,79}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>bg_cheys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{140,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,81}}</string>
                <key>sourceSize</key>
                <string>{140,81}</string>
            </dict>
            <key>bg_jinzhanys.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,641},{140,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,81}}</string>
                <key>sourceSize</key>
                <string>{140,81}</string>
            </dict>
            <key>bg_sangshiys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{140,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,81}}</string>
                <key>sourceSize</key>
                <string>{140,81}</string>
            </dict>
            <key>bg_yuanchengys.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,555},{140,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,81}}</string>
                <key>sourceSize</key>
                <string>{140,81}</string>
            </dict>
            <key>bj_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,646},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>bj_anniu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,952},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bj_dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,727},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>bj_tongyondiban86.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,220},{171,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,50}}</string>
                <key>sourceSize</key>
                <string>{171,50}</string>
            </dict>
            <key>bj_yongshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
            <key>bj_yongshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,525},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
            <key>bj_yongshi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
            <key>bj_yongshi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
            <key>bj_yongshi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,851},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>btn_soldier_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,895},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>chuzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,63},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,203}}</string>
                <key>sourceSize</key>
                <string>{320,203}</string>
            </dict>
            <key>icon_groupformat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{128,128}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{128,128}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>img_danyuange3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{162,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,120}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>img_gangtie.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,776},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>img_hejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,772},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>img_liangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,880},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>img_ranyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>jiangluosan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{145,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,198}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>jiangluosan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,420},{145,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,100}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>jiangluosan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,323},{92,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,109}}</string>
                <key>sourceSize</key>
                <string>{92,109}</string>
            </dict>
            <key>recruitment.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,964},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>troops_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,855},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>u_Troop/u_TroopArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,810},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>u_Troop/u_TroopBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,711},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>u_Troop/u_TroopBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,480},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>u_Troop/u_TroopBtnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,907},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>xiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>zidan_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,360},{51,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,31}}</string>
                <key>sourceSize</key>
                <string>{51,31}</string>
            </dict>
            <key>zidan_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,969},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>zidan_jindutiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,855},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>zidan_jindutiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,772},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_14.pkm</string>
            <key>size</key>
            <string>{376,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ecc6da1f50bc9fd2332896fd21cee79:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_14.pkm</string>
        </dict>
    </dict>
</plist>
