<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AF.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BN.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BO.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BS.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>FJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,32},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GT.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GY.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HT.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IS.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KGZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MKD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,187},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MO.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MU.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NI.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PY.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SAM.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SO.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TM.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,342},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TO.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,497},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TT.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,497},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,497},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UY.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,497},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>YK.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,497},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ZW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,497},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_108.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9208e34a7c8d33ba79474e9345c753ef:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_108.pkm</string>
        </dict>
    </dict>
</plist>
