<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico107900.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,41}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{118,41}}</string>
                <key>sourceSize</key>
                <string>{166,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_106.pkm</string>
            <key>size</key>
            <string>{122,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1aff8aeb598ea2dad5f97d9adda573d:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_106.pkm</string>
        </dict>
    </dict>
</plist>
