<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Skill_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,56},{114,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,47}}</string>
                <key>sourceSize</key>
                <string>{114,47}</string>
            </dict>
            <key>UI_Skill_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,148},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UI_Skill_icon_frame_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,165},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>UI_Skill_icon_frame_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,63},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_Skill_icon_frame_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,63},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_Skill_icon_frame_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,4},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>UI_Skill_icon_frame_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,63},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_Skill_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,78},{178,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,15}}</string>
                <key>sourceSize</key>
                <string>{178,15}</string>
            </dict>
            <key>UI_Skill_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,165},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>UI_Skill_line_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,114},{165,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,5}}</string>
                <key>sourceSize</key>
                <string>{165,5}</string>
            </dict>
            <key>UI_UseSkill_picture_blackwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,4},{53,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,520}}</string>
                <key>sourceSize</key>
                <string>{53,520}</string>
            </dict>
            <key>bg_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{305,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,196}}</string>
                <key>sourceSize</key>
                <string>{305,196}</string>
            </dict>
            <key>bg_jineng_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,176},{20,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,130}}</string>
                <key>sourceSize</key>
                <string>{20,130}</string>
            </dict>
            <key>bg_jineng_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,78},{284,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,28}}</string>
                <key>sourceSize</key>
                <string>{284,28}</string>
            </dict>
            <key>btn_fazhan_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,4},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>btn_fazhan_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,114},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>btn_fuzhu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,125},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>btn_fuzhu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,4},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>btn_zhandou_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,4},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>btn_zhandou_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,129},{201,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>icon_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,99},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>jinengbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,4},{66,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,132}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
            <key>new_skill_cd_mengban_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,63},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>new_skill_cell_background2_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,112},{70,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,192}}</string>
                <key>sourceSize</key>
                <string>{70,192}</string>
            </dict>
            <key>new_skill_cell_background_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,4},{143,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,194}}</string>
                <key>sourceSize</key>
                <string>{143,194}</string>
            </dict>
            <key>new_skill_frame_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,78},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
            <key>new_skill_frame_icon_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,63},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>new_skill_popup_zhuangshi_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,188},{13,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,154}}</string>
                <key>sourceSize</key>
                <string>{13,154}</string>
            </dict>
            <key>new_time_background_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,4},{124,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,46}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>skill_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,102},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,56},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_fly_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,63},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_30.pkm</string>
            <key>size</key>
            <string>{2002,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34cb2eda1427c7c09b192e8544c3ebc6:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_30.pkm</string>
        </dict>
    </dict>
</plist>
