<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_dianlijisuBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,4},{98,116}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{98,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_duihuanzhihuixunzhangBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,110},{106,100}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{106,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_gangtiejisuBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,346},{106,106}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{106,106}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_hejinjisuBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,114},{118,104}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{118,104}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_jiaoyizhongxinchushouBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,216},{136,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{136,98}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_jiaoyizhongxingoumaiBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,340},{134,104}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,104}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_jingshuijisuBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,126},{94,114}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{94,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_liangshijisuBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,264},{106,120}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{106,120}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_ranyoujisuBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,4},{102,110}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{102,110}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_yingxiongdengjitishengBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,212},{100,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{100,98}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_zhaomuchaojiBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,210},{90,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{90,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_zhaomugaojiBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,312},{90,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{90,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>FB_IC_zhaomuputongBIG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,418},{90,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{90,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,320},{112,98}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{112,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,320},{112,98}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{112,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Area_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,434},{122,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,40},{122,78}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Attack_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,408},{77,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>quest_Barrack_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,224},{136,102}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{136,102}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_BigCastle_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,222},{126,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{126,100}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Blacksmith_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,210},{86,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{86,96}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_Build_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,444},{59,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{59,58}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>quest_Castle_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,332},{126,100}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{126,100}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Chariot Plant_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,4},{136,108}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{136,108}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Collect_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,4},{125,69}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{125,69}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>quest_College_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,300},{142,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,138}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Defense_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,106},{71,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>quest_Depot_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,114},{122,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{122,102}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Drill Grounds_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,4},{142,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{142,112}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Embassy_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,4},{120,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{120,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Farm_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,161},{120,76}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,44},{120,76}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Food_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,444},{71,67}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{71,67}}</string>
                <key>sourceSize</key>
                <string>{119,101}</string>
            </dict>
            <key>quest_Fortress_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,118},{114,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{114,106}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Hall of War_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,4},{142,100}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{142,100}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Hospital_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,444},{116,68}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{116,68}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Iorn_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,327},{85,73}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{85,73}}</string>
                <key>sourceSize</key>
                <string>{119,101}</string>
            </dict>
            <key>quest_Iron Mine_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,328},{118,100}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{118,100}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Lord_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,260},{114,116}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{114,116}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Market_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,108},{134,98}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{134,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Merchante.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,210},{86,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{86,96}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_Military Tent_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,79},{120,76}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{120,76}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Mithril Mine_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,243},{118,78}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{118,78}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Mithril_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,458},{77,53}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{77,53}}</string>
                <key>sourceSize</key>
                <string>{119,101}</string>
            </dict>
            <key>quest_Monster0_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,4},{136,138}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{136,138}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Monster1_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,288},{76,124}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{76,124}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Monster2_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,136},{98,122}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{98,122}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Monster3_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,136},{94,118}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{94,118}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Output_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,406},{79,69}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{79,69}}</string>
                <key>sourceSize</key>
                <string>{119,101}</string>
            </dict>
            <key>quest_Range_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,122},{136,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{136,110}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Reclaim_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,444},{67,56}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{67,56}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>quest_Research_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,450},{54,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>quest_Ruins_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,418},{114,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{114,94}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Sawmill_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,424},{116,84}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{116,84}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Soldier_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,424},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>quest_Stable_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,148},{140,134}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,134}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Torch_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,327},{51,75}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{51,75}}</string>
                <key>sourceSize</key>
                <string>{53,105}</string>
            </dict>
            <key>quest_Trap_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,424},{76,83}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{76,83}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>quest_Turret_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,4},{90,104}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{90,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Upgrade_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,444},{53,64}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{53,64}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>quest_Walls_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,390},{104,120}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{104,120}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Watchtower_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,382},{126,112}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{126,112}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Wishing well_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,226},{130,104}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{130,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_Wood_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,418},{124,90}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{124,90}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,438},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>quest_cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,226},{130,104}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{130,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,210},{86,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{86,96}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>quest_daodan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,120},{142,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{142,108}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_equip_make.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,4},{142,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{142,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_gold_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,450},{88,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{88,62}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>quest_guyong_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,238},{142,108}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{142,108}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_jianyu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,4},{142,126}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{142,126}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_jijiu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,116},{142,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{142,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_kelong_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,4},{142,98}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{142,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_killsolider_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,352},{110,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{110,108}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_material_make.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,230},{142,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{142,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_monthlygift_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,316},{92,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{92,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_shenghua_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,152},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_shoot_training.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,234},{140,106}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{140,106}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_sign_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,4},{94,96}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{94,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_train_zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_transformation_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,4},{108,106}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{108,106}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_travel_businessman.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,288},{138,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,124}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_xinpianchang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,108},{142,96}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{142,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>quest_zhihui_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,336},{142,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{142,102}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>youtong_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,4},{61,75}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{61,75}}</string>
                <key>sourceSize</key>
                <string>{119,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_101.pkm</string>
            <key>size</key>
            <string>{2043,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:040e2632b0ce4384e65f8c822fe5ec77:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_101.pkm</string>
        </dict>
    </dict>
</plist>
