<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_hero10_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1382},{237,334}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{237,334}}</string>
                <key>sourceSize</key>
                <string>{237,362}</string>
            </dict>
            <key>FB_IC_hero11_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1398},{275,340}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{275,340}}</string>
                <key>sourceSize</key>
                <string>{275,362}</string>
            </dict>
            <key>FB_IC_hero12_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1050},{258,326}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{258,326}}</string>
                <key>sourceSize</key>
                <string>{258,362}</string>
            </dict>
            <key>FB_IC_hero13_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1398},{324,324}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{324,324}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero14_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1720},{296,324}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{296,324}}</string>
                <key>sourceSize</key>
                <string>{296,362}</string>
            </dict>
            <key>FB_IC_hero15_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1046},{235,336}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{235,336}}</string>
                <key>sourceSize</key>
                <string>{235,362}</string>
            </dict>
            <key>FB_IC_hero16_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,728},{263,330}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{263,330}}</string>
                <key>sourceSize</key>
                <string>{263,362}</string>
            </dict>
            <key>FB_IC_hero17_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1324},{261,320}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{261,320}}</string>
                <key>sourceSize</key>
                <string>{261,362}</string>
            </dict>
            <key>FB_IC_hero18_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,338},{285,324}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{285,324}}</string>
                <key>sourceSize</key>
                <string>{285,362}</string>
            </dict>
            <key>FB_IC_hero19_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1642},{162,280}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{162,280}}</string>
                <key>sourceSize</key>
                <string>{162,362}</string>
            </dict>
            <key>FB_IC_hero1_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,346},{262,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,362}}</string>
                <key>sourceSize</key>
                <string>{262,362}</string>
            </dict>
            <key>FB_IC_hero20_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1650},{208,326}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{208,326}}</string>
                <key>sourceSize</key>
                <string>{208,362}</string>
            </dict>
            <key>FB_IC_hero21_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,984},{220,324}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{220,324}}</string>
                <key>sourceSize</key>
                <string>{220,362}</string>
            </dict>
            <key>FB_IC_hero22_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,4},{324,336}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{324,336}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero23_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,660},{236,318}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{236,318}}</string>
                <key>sourceSize</key>
                <string>{236,362}</string>
            </dict>
            <key>FB_IC_hero24_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1744},{293,282}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{293,282}}</string>
                <key>sourceSize</key>
                <string>{293,362}</string>
            </dict>
            <key>FB_IC_hero25_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1064},{267,328}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{267,328}}</string>
                <key>sourceSize</key>
                <string>{267,362}</string>
            </dict>
            <key>FB_IC_hero26_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,996},{276,322}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{276,322}}</string>
                <key>sourceSize</key>
                <string>{276,362}</string>
            </dict>
            <key>FB_IC_hero27_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,4},{324,328}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{324,328}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero28_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1728},{316,312}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{316,312}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero29_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,4},{305,326}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{305,326}}</string>
                <key>sourceSize</key>
                <string>{305,362}</string>
            </dict>
            <key>FB_IC_hero2_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,360},{262,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,362}}</string>
                <key>sourceSize</key>
                <string>{262,362}</string>
            </dict>
            <key>FB_IC_hero30_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1064},{317,328}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{317,328}}</string>
                <key>sourceSize</key>
                <string>{317,362}</string>
            </dict>
            <key>FB_IC_hero31_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,668},{280,322}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{280,322}}</string>
                <key>sourceSize</key>
                <string>{280,362}</string>
            </dict>
            <key>FB_IC_hero32_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,336},{251,318}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{251,318}}</string>
                <key>sourceSize</key>
                <string>{251,362}</string>
            </dict>
            <key>FB_IC_hero33_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1722},{324,322}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{324,322}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero34_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,728},{304,330}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{304,330}}</string>
                <key>sourceSize</key>
                <string>{304,362}</string>
            </dict>
            <key>FB_IC_hero35_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1314},{219,322}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{219,322}}</string>
                <key>sourceSize</key>
                <string>{219,362}</string>
            </dict>
            <key>FB_IC_hero3_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,4},{324,334}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{324,334}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero4_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,344},{236,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,362}}</string>
                <key>sourceSize</key>
                <string>{236,362}</string>
            </dict>
            <key>FB_IC_hero5_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,360},{305,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,362}}</string>
                <key>sourceSize</key>
                <string>{305,362}</string>
            </dict>
            <key>FB_IC_hero6_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{324,350}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{324,350}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>FB_IC_hero7_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,712},{239,328}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{239,328}}</string>
                <key>sourceSize</key>
                <string>{239,362}</string>
            </dict>
            <key>FB_IC_hero8_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1388},{256,326}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{256,326}}</string>
                <key>sourceSize</key>
                <string>{256,362}</string>
            </dict>
            <key>FB_IC_hero9_TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,714},{266,330}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{266,330}}</string>
                <key>sourceSize</key>
                <string>{266,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_600.pkm</string>
            <key>size</key>
            <string>{1639,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4158c42c03c2b74ac012f428530eb705:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_600.pkm</string>
        </dict>
    </dict>
</plist>
