<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_huodong_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1150},{644,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,173}}</string>
                <key>sourceSize</key>
                <string>{644,173}</string>
            </dict>
            <key>FB_T_huodongbiaoti_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1329},{324,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,38}}</string>
                <key>sourceSize</key>
                <string>{324,38}</string>
            </dict>
            <key>FB_T_huodongduihao_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1329},{38,37}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,37}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>活动效果图.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{644,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,1140}}</string>
                <key>sourceSize</key>
                <string>{644,1140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_287.pkm</string>
            <key>size</key>
            <string>{652,1371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5e0878c0b53e69e35ca59bd8740634b:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_287.pkm</string>
        </dict>
    </dict>
</plist>
