<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boli_shang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,304},{655,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,200}}</string>
                <key>sourceSize</key>
                <string>{657,200}</string>
            </dict>
            <key>boli_xia_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{825,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,294}}</string>
                <key>sourceSize</key>
                <string>{825,294}</string>
            </dict>
            <key>shandian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,304},{98,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_104.pkm</string>
            <key>size</key>
            <string>{833,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b78330d40ab684c7a20b7f78691753dc:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_104.pkm</string>
        </dict>
    </dict>
</plist>
