<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_BTN_remove_Road_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1114},{169,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,78}}</string>
                <key>sourceSize</key>
                <string>{169,78}</string>
            </dict>
            <key>FB_BTN_remove_Road_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1122},{169,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,78}}</string>
                <key>sourceSize</key>
                <string>{169,78}</string>
            </dict>
            <key>FB_BTN_road_building_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1030},{169,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,78}}</string>
                <key>sourceSize</key>
                <string>{169,78}</string>
            </dict>
            <key>FB_BTN_road_building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1122},{169,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,78}}</string>
                <key>sourceSize</key>
                <string>{169,78}</string>
            </dict>
            <key>FB_IC_buduibianhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,620},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>FB_IC_buduibianhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,410},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>FB_IC_buduibianhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1206},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>FB_IC_buduibianhao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1030},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>FB_IC_shouchengbuduiwenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1103},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>FB_T_heroStory.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,898},{341,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,441}}</string>
                <key>sourceSize</key>
                <string>{341,441}</string>
            </dict>
            <key>FB_T_shouchengbudui02_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1030},{320,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,86}}</string>
                <key>sourceSize</key>
                <string>{320,86}</string>
            </dict>
            <key>FB_T_shouchengbudui_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,4},{640,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,312}}</string>
                <key>sourceSize</key>
                <string>{640,312}</string>
            </dict>
            <key>FB_T_shouchengbuduijiantou2_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1206},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FB_T_shouchengbuduijiantou_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1206},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FB_T_shouchengbuduijiantougray2_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1206},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FB_T_shouchengbuduijiantougray_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1206},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FB_T_shouchengbuduishuzi_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1245},{189,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,4}}</string>
                <key>sourceSize</key>
                <string>{189,4}</string>
            </dict>
            <key>free_Effect_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1198},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>free_guideroadBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,650},{508,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,374}}</string>
                <key>sourceSize</key>
                <string>{508,374}</string>
            </dict>
            <key>free_guideroadBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,460},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>free_guideroadBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,578},{113,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,57}}</string>
                <key>sourceSize</key>
                <string>{113,57}</string>
            </dict>
            <key>free_guideroadBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,898},{106,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,35}}</string>
                <key>sourceSize</key>
                <string>{106,35}</string>
            </dict>
            <key>free_guideroadBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,460},{71,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,112}}</string>
                <key>sourceSize</key>
                <string>{71,112}</string>
            </dict>
            <key>u_OfficerDrawBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,888}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,888}}</string>
                <key>sourceSize</key>
                <string>{500,888}</string>
            </dict>
            <key>u_OfficerEffect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,410},{204,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,70}}</string>
                <key>sourceSize</key>
                <string>{204,70}</string>
            </dict>
            <key>u_OfficerEffect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1198},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>u_OfficerEffect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1198},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>u_OfficerEffect04.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,4},{450,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,52}}</string>
                <key>sourceSize</key>
                <string>{450,52}</string>
            </dict>
            <key>u_OfficerEffect05.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,4},{400,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,129}}</string>
                <key>sourceSize</key>
                <string>{400,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_270.pkm</string>
            <key>size</key>
            <string>{1024,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa3bf1786b4dc91c68b62bfc96f10b61:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_270.pkm</string>
        </dict>
    </dict>
</plist>
