<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_badman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,308},{256,316}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{256,316}}</string>
                <key>sourceSize</key>
                <string>{256,362}</string>
            </dict>
            <key>guide_nanmin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,640},{322,340}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{322,340}}</string>
                <key>sourceSize</key>
                <string>{322,362}</string>
            </dict>
            <key>hero0_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,646},{203,350}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{203,350}}</string>
                <key>sourceSize</key>
                <string>{203,362}</string>
            </dict>
            <key>hero10_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,4},{278,304}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{278,304}}</string>
                <key>sourceSize</key>
                <string>{278,362}</string>
            </dict>
            <key>hero14_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,658},{248,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,362}}</string>
                <key>sourceSize</key>
                <string>{248,362}</string>
            </dict>
            <key>hero15_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,312},{229,320}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{229,320}}</string>
                <key>sourceSize</key>
                <string>{229,362}</string>
            </dict>
            <key>hero2002_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,4},{239,304}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{239,304}}</string>
                <key>sourceSize</key>
                <string>{239,362}</string>
            </dict>
            <key>hero21_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,4},{248,314}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{248,314}}</string>
                <key>sourceSize</key>
                <string>{248,362}</string>
            </dict>
            <key>hero22_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,314},{245,320}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{245,320}}</string>
                <key>sourceSize</key>
                <string>{245,362}</string>
            </dict>
            <key>hero23_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,4},{294,302}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{294,302}}</string>
                <key>sourceSize</key>
                <string>{294,362}</string>
            </dict>
            <key>hero4_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,646},{243,342}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{243,342}}</string>
                <key>sourceSize</key>
                <string>{243,362}</string>
            </dict>
            <key>hero6_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,316},{243,328}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{243,328}}</string>
                <key>sourceSize</key>
                <string>{245,362}</string>
            </dict>
            <key>hero7_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,324},{237,328}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{237,328}}</string>
                <key>sourceSize</key>
                <string>{237,362}</string>
            </dict>
            <key>hero8_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{297,298}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{297,298}}</string>
                <key>sourceSize</key>
                <string>{297,362}</string>
            </dict>
            <key>hero9_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,630},{233,330}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{233,330}}</string>
                <key>sourceSize</key>
                <string>{233,362}</string>
            </dict>
            <key>herobody23.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,314},{324,326}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{324,326}}</string>
                <key>sourceSize</key>
                <string>{324,362}</string>
            </dict>
            <key>herobody24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,650},{282,358}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{282,358}}</string>
                <key>sourceSize</key>
                <string>{282,362}</string>
            </dict>
            <key>herobody25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,4},{262,306}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{262,306}}</string>
                <key>sourceSize</key>
                <string>{262,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_601.pkm</string>
            <key>size</key>
            <string>{1656,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2955589c47511b0b6cc69354b2f43ac0:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_601.pkm</string>
        </dict>
    </dict>
</plist>
