<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_chejiaqiang_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,280},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_chejiaqiangfangyu_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,280},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_chejiaqiangjingong_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,280},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_chejinji_1_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,280},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_gonhchengchekeji_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,188},{158,162}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{158,162}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>FB_IC_sheshoujiaqiang_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,395},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_sheshoujiaqiangfangyu_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,278},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_sheshoujiaqiangjingong_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,395},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_sheshoujinji_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,278},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_yongshijiangqiangjingong_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,397},{113,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_yongshijiaqiang_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,280},{113,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_yongshijiaqiangfangyu_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,397},{113,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>FB_IC_yongshijinji_SKILL.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,280},{113,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>science_carrier_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,399},{102,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{102,90}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_carrier_max_distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,399},{100,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{100,88}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_carrier_new_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,399},{102,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{102,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_new_res_diamond_gather.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,399},{92,88}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{92,88}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,142},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,142},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,142},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,142},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,142},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,142},{132,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,356},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,142},{132,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>science_speed_model.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{164,178}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{164,178}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_280.pkm</string>
            <key>size</key>
            <string>{1138,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6e2f893b9d0a474f6df394f5827ee6:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_280.pkm</string>
        </dict>
    </dict>
</plist>
