<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1901},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>actice_skill_bg_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1490},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>death_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2004},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>free_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2004},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>g026PlayerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1867},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>g044PlayerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1739},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>g061PlayerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1742},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>g062PlayerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1617},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>g063PlayerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1492},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>hero_brown_Kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1269},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hero_power_Kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,311},{175,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,37}}</string>
                <key>sourceSize</key>
                <string>{175,37}</string>
            </dict>
            <key>hero_selected_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,668},{55,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,137}}</string>
                <key>sourceSize</key>
                <string>{55,137}</string>
            </dict>
            <key>hero_selected_jiantou_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1286},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>hero_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1742},{53,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,118}</string>
            </dict>
            <key>hero_skillbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1736},{73,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,52}}</string>
                <key>sourceSize</key>
                <string>{73,52}</string>
            </dict>
            <key>hero_unselected_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,668},{55,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,137}}</string>
                <key>sourceSize</key>
                <string>{55,137}</string>
            </dict>
            <key>highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1115},{20,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,780}}</string>
                <key>sourceSize</key>
                <string>{20,780}</string>
            </dict>
            <key>icon_cdtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1992},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_cost.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,583},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_eftime.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1903},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1543},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>langan.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,329},{20,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,780}}</string>
                <key>sourceSize</key>
                <string>{20,780}</string>
            </dict>
            <key>leader_commom305.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1303},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>march_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,626},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>medal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1130},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>passive_skill_bg_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1330},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,329},{333,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,328}}</string>
                <key>sourceSize</key>
                <string>{333,328}</string>
            </dict>
            <key>player_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,492},{21,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,85}}</string>
                <key>sourceSize</key>
                <string>{21,85}</string>
            </dict>
            <key>player_changeName.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1489},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>player_icon_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1617},{99,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>player_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,668},{138,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,261}}</string>
                <key>sourceSize</key>
                <string>{138,261}</string>
            </dict>
            <key>player_sangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1137},{105,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,75}}</string>
                <key>sourceSize</key>
                <string>{105,75}</string>
            </dict>
            <key>player_shadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1866},{77,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,103}}</string>
                <key>sourceSize</key>
                <string>{77,103}</string>
            </dict>
            <key>prison_xue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1857},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_lv_bg_common305.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1578},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>u_HeroStoryIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1349},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>u_Player/officalIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1492},{149,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,101}}</string>
                <key>sourceSize</key>
                <string>{149,101}</string>
            </dict>
            <key>u_Player/u_PlayerAchieveBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,4},{207,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,301}}</string>
                <key>sourceSize</key>
                <string>{207,301}</string>
            </dict>
            <key>u_Player/u_PlayerAchieveBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1315},{197,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,302}}</string>
                <key>sourceSize</key>
                <string>{197,302}</string>
            </dict>
            <key>u_Player/u_PlayerAchieveBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1623},{207,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,298}}</string>
                <key>sourceSize</key>
                <string>{207,298}</string>
            </dict>
            <key>u_Player/u_PlayerAchieveBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,809},{500,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,159}}</string>
                <key>sourceSize</key>
                <string>{500,159}</string>
            </dict>
            <key>u_Player/u_PlayerAchieveBg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1024},{100,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,212}}</string>
                <key>sourceSize</key>
                <string>{100,212}</string>
            </dict>
            <key>u_Player/u_PlayerBottomBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1130},{134,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,91}}</string>
                <key>sourceSize</key>
                <string>{134,91}</string>
            </dict>
            <key>u_Player/u_PlayerBottomBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,809},{500,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,55}}</string>
                <key>sourceSize</key>
                <string>{500,55}</string>
            </dict>
            <key>u_Player/u_PlayerBottomBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1874},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>u_Player/u_PlayerBottomBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1137},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>u_Player/u_PlayerBuffBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1975},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>u_Player/u_PlayerIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2002},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>u_Player/u_PlayerIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1586},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>u_Player/u_PlayerIcon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1418},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>u_Player/u_PlayerIcon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1403},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>u_Player/u_PlayerIcon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1269},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,55}</string>
            </dict>
            <key>u_Player/u_PlayerIcon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1418},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>u_Player/u_PlayerIcon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1794},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>u_Player/u_PlayerIconBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,319}}</string>
                <key>sourceSize</key>
                <string>{500,319}</string>
            </dict>
            <key>u_Player/u_PlayerIconBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,329},{300,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,474}}</string>
                <key>sourceSize</key>
                <string>{300,474}</string>
            </dict>
            <key>u_Player/u_PlayerIconBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,932},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>u_Player/u_PlayerIconBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,812},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>u_Player/u_PlayerOfficeIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1927},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>u_Player/u_PlayerOfficeIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1927},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>u_Player/u_PlayerProBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1315},{562,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,69}}</string>
                <key>sourceSize</key>
                <string>{562,69}</string>
            </dict>
            <key>u_red_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1349},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>u_red_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1665},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>u_red_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1286},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>u_red_bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1248},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>u_red_bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,809},{314,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,40}}</string>
                <key>sourceSize</key>
                <string>{314,40}</string>
            </dict>
            <key>u_red_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1975},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>u_red_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1599},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>xueji.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,812},{205,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,114}}</string>
                <key>sourceSize</key>
                <string>{205,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_13.pkm</string>
            <key>size</key>
            <string>{723,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bac37d16205169fa9af8549ec520ba8:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_13.pkm</string>
        </dict>
    </dict>
</plist>
