<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dalao_diban3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>dalao_xiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{305,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,15}}</string>
                <key>sourceSize</key>
                <string>{305,15}</string>
            </dict>
            <key>hongse_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{258,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,22}}</string>
                <key>sourceSize</key>
                <string>{258,22}</string>
            </dict>
            <key>icon_leida.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,196}}</string>
                <key>sourceSize</key>
                <string>{170,196}</string>
            </dict>
            <key>leidaglow_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,92},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>shandian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,136},{65,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{65,32}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>shandian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{65,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{65,34}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>shandian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,69},{65,32}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{65,32}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>shandian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,144},{65,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{65,34}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_29.pkm</string>
            <key>size</key>
            <string>{320,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727f22eea4ef15836d763d9dceccd42b:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_29.pkm</string>
        </dict>
    </dict>
</plist>
