<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,265},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,119},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,4},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>EqNew_Equip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,4},{117,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,118}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>EqNew_Equip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,331},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>EqNew_Materials_frame0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,246},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>EqNew_Materials_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,497},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>EqNew_Plug_in_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,372},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>EqNew_Plug_in_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,128},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>EqNew_Plug_in_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,386},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>EqNew_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,371},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>EqNew_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,461},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>EqNew_composite_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,200},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>EqNew_composite_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,293},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>EqNew_composite_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,335},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>EqNew_composite_circle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,144},{123,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,88}}</string>
                <key>sourceSize</key>
                <string>{123,88}</string>
            </dict>
            <key>EqNew_composite_circle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,263},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>EqNew_composite_circle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,415},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>EqNew_composite_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,128},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>EqNew_composite_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,347},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>EqNew_composite_frame_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,225},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>EqNew_composite_rect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,384},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>EqNew_composite_rect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,362},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>EqNew_composite_rect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,406},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>EqNew_composite_rect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,462},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>EqNew_composite_rect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,289},{10,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,40}}</string>
                <key>sourceSize</key>
                <string>{10,40}</string>
            </dict>
            <key>EqNew_equip_quality.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,245},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>EqNew_equiplist_cell_open_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,372},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>EqNew_green_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,462},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>EqNew_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,288},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>EqNew_quality_Probability.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,232},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>convictKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,462},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>equip_cell_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,246},{202,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,36}}</string>
                <key>sourceSize</key>
                <string>{202,36}</string>
            </dict>
            <key>equip_default_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,4},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>equip_default_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,246},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>equip_default_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,4},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>equip_default_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,246},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>equip_default_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,322},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>equip_default_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,422},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>equip_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,225},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>equip_wareroom_info_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,507},{127,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,1}}</string>
                <key>sourceSize</key>
                <string>{127,1}</string>
            </dict>
            <key>u_armory01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,413},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>u_armory02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,4},{312,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,156}}</string>
                <key>sourceSize</key>
                <string>{312,156}</string>
            </dict>
            <key>u_armory03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,107}}</string>
                <key>sourceSize</key>
                <string>{320,107}</string>
            </dict>
            <key>u_improvement_gear01.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,422},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>u_improvement_gear02.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,422},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>u_improvement_gear03.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,143},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>u_improvement_hammer01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,310},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>u_improvement_hammer02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,144},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>u_improvement_hammer03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,4},{101,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,109}}</string>
                <key>sourceSize</key>
                <string>{101,109}</string>
            </dict>
            <key>u_improvement_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,234},{132,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,123}}</string>
                <key>sourceSize</key>
                <string>{132,123}</string>
            </dict>
            <key>u_material_arrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,144},{110,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
            <key>u_material_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,386},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>u_material_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,386},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>u_material_bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,330},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>u_material_bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,386},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>u_material_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,246},{209,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,63}}</string>
                <key>sourceSize</key>
                <string>{209,63}</string>
            </dict>
            <key>u_material_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,4},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>u_material_btn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,4},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>u_material_btn04.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,238},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>u_material_btn05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,454},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>u_material_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,372},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_26.pkm</string>
            <key>size</key>
            <string>{1153,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83840fe2913eb32df5d2b886443baf0c:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_26.pkm</string>
        </dict>
    </dict>
</plist>
