<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_chuzhengbianji_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,746},{10,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,112}}</string>
                <key>sourceSize</key>
                <string>{10,112}</string>
            </dict>
            <key>FB_T_jianzao1_TP_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,298},{6,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,2}}</string>
                <key>sourceSize</key>
                <string>{6,2}</string>
            </dict>
            <key>FB_T_jianzao2_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{320,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,288}}</string>
                <key>sourceSize</key>
                <string>{320,288}</string>
            </dict>
            <key>FB_T_jianzao2_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,268}}</string>
                <key>sourceSize</key>
                <string>{640,268}</string>
            </dict>
            <key>FB_T_jianzao2_BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,416},{320,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,57}}</string>
                <key>sourceSize</key>
                <string>{320,57}</string>
            </dict>
            <key>FB_T_jianzaoxiaotanchuang_BG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,646},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>FB_T_jianzaoxiaotanchuang_BG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,4},{322,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,21}}</string>
                <key>sourceSize</key>
                <string>{322,21}</string>
            </dict>
            <key>FB_T_jianzaoxiaotanchuang_BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,4},{306,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,50}}</string>
                <key>sourceSize</key>
                <string>{306,50}</string>
            </dict>
            <key>FB_T_yingxiongxinxizhuangshi_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,278},{602,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,223}}</string>
                <key>sourceSize</key>
                <string>{602,223}</string>
            </dict>
            <key>FB_zhuzha_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,789},{460,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,217}}</string>
                <key>sourceSize</key>
                <string>{460,217}</string>
            </dict>
            <key>FB_zhuzha_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1001},{486,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{486,15}}</string>
                <key>sourceSize</key>
                <string>{488,15}</string>
            </dict>
            <key>FB_zhuzha_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,710},{197,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,30}}</string>
                <key>sourceSize</key>
                <string>{197,30}</string>
            </dict>
            <key>FB_zhuzha_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,654},{636,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,129}}</string>
                <key>sourceSize</key>
                <string>{636,129}</string>
            </dict>
            <key>FB_zhuzha_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,416},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>fb_hero_LEVEL_UP.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,479},{115,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,24}}</string>
                <key>sourceSize</key>
                <string>{115,24}</string>
            </dict>
            <key>fb_hero_NEW.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,746},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>free_chapterTaskBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,933},{531,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,62}}</string>
                <key>sourceSize</key>
                <string>{531,62}</string>
            </dict>
            <key>free_chapterTaskBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,370},{5,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,20}}</string>
                <key>sourceSize</key>
                <string>{5,20}</string>
            </dict>
            <key>free_selectImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,600},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>free_unlockPeopleBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,479},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>free_unlockPeopleBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,650},{54,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,253}}</string>
                <key>sourceSize</key>
                <string>{54,253}</string>
            </dict>
            <key>free_unlockPeopleBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,564},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>free_unlockPeopleBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,789},{538,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,138}}</string>
                <key>sourceSize</key>
                <string>{538,138}</string>
            </dict>
            <key>free_unlockPeopleRestaurant.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,479},{245,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,165}}</string>
                <key>sourceSize</key>
                <string>{245,165}</string>
            </dict>
            <key>free_upgradeBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,598},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>free_upgradeBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,298},{346,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,68}}</string>
                <key>sourceSize</key>
                <string>{346,68}</string>
            </dict>
            <key>free_upgradeBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,564},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>free_upgradeBg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,507},{635,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,141}}</string>
                <key>sourceSize</key>
                <string>{635,141}</string>
            </dict>
            <key>free_upgradeBg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1001},{35,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,15}}</string>
                <key>sourceSize</key>
                <string>{35,15}</string>
            </dict>
            <key>free_upgradeBg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,762},{62,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>free_upgradeBg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,332},{632,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,40}}</string>
                <key>sourceSize</key>
                <string>{632,40}</string>
            </dict>
            <key>free_upgradeBg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,316},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>free_upgradeBg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,372},{385,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,38}}</string>
                <key>sourceSize</key>
                <string>{385,38}</string>
            </dict>
            <key>free_upgradeBg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,710},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_272.pkm</string>
            <key>size</key>
            <string>{1058,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76d469ab3f0a7c0e17ca1394e1cef965:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_272.pkm</string>
        </dict>
    </dict>
</plist>
