<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{68,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,119}}</string>
                <key>sourceSize</key>
                <string>{68,119}</string>
            </dict>
            <key>more_view_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,453}}</string>
                <key>sourceSize</key>
                <string>{640,453}</string>
            </dict>
            <key>pic412000_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,909},{96,95}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,95}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>pic413000_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{106,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>pic414000_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,909},{96,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>pic415000_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,842},{96,95}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,95}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>touming_ui_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{123,49}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{123,49}}</string>
                <key>sourceSize</key>
                <string>{133,65}</string>
            </dict>
            <key>touming_ui_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,842},{115,65}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{133,65}</string>
            </dict>
            <key>touming_ui_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,842},{133,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,65}}</string>
                <key>sourceSize</key>
                <string>{133,65}</string>
            </dict>
            <key>touming_ui_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,939},{111,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{111,65}}</string>
                <key>sourceSize</key>
                <string>{133,65}</string>
            </dict>
            <key>u_ContinuousRechargeBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,644},{250,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,196}}</string>
                <key>sourceSize</key>
                <string>{250,196}</string>
            </dict>
            <key>u_ContinuousRechargeBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{250,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,196}}</string>
                <key>sourceSize</key>
                <string>{250,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_18.pkm</string>
            <key>size</key>
            <string>{508,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b0f1cde50811f3027f34baf3b6b5871:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_18.pkm</string>
        </dict>
    </dict>
</plist>
