<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_fengexian_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,960},{323,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,5}}</string>
                <key>sourceSize</key>
                <string>{323,5}</string>
            </dict>
            <key>FB_T_gongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,838},{457,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,47}}</string>
                <key>sourceSize</key>
                <string>{457,47}</string>
            </dict>
            <key>FB_T_huodeyingxiong_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,525},{644,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,345}}</string>
                <key>sourceSize</key>
                <string>{644,345}</string>
            </dict>
            <key>FB_T_lingqujiangli_btbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,838},{314,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,68}}</string>
                <key>sourceSize</key>
                <string>{314,68}</string>
            </dict>
            <key>FB_T_lingqujianglizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,939},{173,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,30}}</string>
                <key>sourceSize</key>
                <string>{173,30}</string>
            </dict>
            <key>FB_T_teshuzhaomu_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,4},{325,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,515}}</string>
                <key>sourceSize</key>
                <string>{325,515}</string>
            </dict>
            <key>FB_T_teshuzhaomu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{325,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,515}}</string>
                <key>sourceSize</key>
                <string>{325,515}</string>
            </dict>
            <key>FB_T_teshuzhaomubiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,227},{644,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,49}}</string>
                <key>sourceSize</key>
                <string>{644,49}</string>
            </dict>
            <key>FB_T_yingxiongjieshao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,4},{644,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,217}}</string>
                <key>sourceSize</key>
                <string>{644,217}</string>
            </dict>
            <key>FB_T_yingxiongliebiao2_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,282},{630,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,281}}</string>
                <key>sourceSize</key>
                <string>{630,281}</string>
            </dict>
            <key>FB_T_yingxiongliebiao_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,569},{630,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,263}}</string>
                <key>sourceSize</key>
                <string>{630,263}</string>
            </dict>
            <key>FB_T_zhaomubiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,891},{325,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,42}}</string>
                <key>sourceSize</key>
                <string>{325,42}</string>
            </dict>
            <key>FB_T_zhaomubiaoticheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,912},{325,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,42}}</string>
                <key>sourceSize</key>
                <string>{325,42}</string>
            </dict>
            <key>FB_T_zhaomuguanggaotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,876},{644,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,96}}</string>
                <key>sourceSize</key>
                <string>{644,96}</string>
            </dict>
            <key>FB_bingzhongkuang-3_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,569},{154,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,196}}</string>
                <key>sourceSize</key>
                <string>{154,196}</string>
            </dict>
            <key>FB_chuzhengtiaoz_1_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,4},{13,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,55}}</string>
                <key>sourceSize</key>
                <string>{13,55}</string>
            </dict>
            <key>FB_chuzhengtiaoz_2_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,4},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>FB_chuzhengtiaoz_3_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,4},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_286.pkm</string>
            <key>size</key>
            <string>{1448,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1945624831243dcc80787c6657dad98:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_286.pkm</string>
        </dict>
    </dict>
</plist>
