<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12outcity_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1768},{216,192}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,192}}</string>
                <key>sourceSize</key>
                <string>{216,218}</string>
            </dict>
            <key>14outcity_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,645},{222,222}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,252}</string>
            </dict>
            <key>1outcity_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,466},{173,99}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,155}</string>
            </dict>
            <key>5outcity_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,272},{188,109}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,109}}</string>
                <key>sourceSize</key>
                <string>{188,161}</string>
            </dict>
            <key>8outcity_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1192},{205,167}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,167}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>Kulou_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,348},{294,401}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,36},{294,401}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>Lion_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,272},{272,405}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,32},{272,405}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>Shixianggui_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,675},{258,403}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{258,403}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>banjunyingdi_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1410},{190,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,149}}</string>
                <key>sourceSize</key>
                <string>{190,149}</string>
            </dict>
            <key>christmas_monster_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1654},{238,337}}</string>
                <key>offset</key>
                <string>{-41,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{238,337}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>huaban_01_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,961},{320,325}}</string>
                <key>offset</key>
                <string>{-28,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{320,325}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>huaban_02_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1436},{294,319}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{294,319}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>huaban_03_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,873},{318,313}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,49},{318,313}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>nanminying_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1192},{212,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,160}}</string>
                <key>sourceSize</key>
                <string>{212,160}</string>
            </dict>
            <key>ngss_01_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1761},{280,286}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,286}}</string>
                <key>sourceSize</key>
                <string>{366,286}</string>
            </dict>
            <key>nurses_01_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1126},{304,325}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,34},{304,325}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>nurses_02_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1084},{276,325}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{276,325}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>nurses_03_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1436},{296,319}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,40},{296,319}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>rm_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,4},{340,401}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{340,401}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>rock_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,4},{262,437}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{262,437}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>sangshi5_01_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1287},{280,361}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,17},{280,361}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>sangshi5_02_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1415},{282,347}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{282,347}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>sangshi5_03_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,836},{284,361}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,29},{284,361}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>sangshi_05_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1761},{286,275}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,81},{286,275}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>sangshi_06_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1768},{286,271}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,84},{286,271}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>scws_1_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,550},{280,379}}</string>
                <key>offset</key>
                <string>{-48,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{280,379}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>scws_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{338,431}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{338,431}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>tufu_01_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,648},{346,307}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{346,307}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
            <key>tufu_02_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,350},{338,319}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{338,319}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_109.pkm</string>
            <key>size</key>
            <string>{1372,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e95a082bfb248f4e52e77c32026eacec:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_109.pkm</string>
        </dict>
    </dict>
</plist>
