<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_IC_chilun__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,623},{402,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,402}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>FB_IC_chilun__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1783},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>FB_IC_chilun__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1341},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>FB_IC_chilun__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1571},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>FB_T_JS_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,4},{610,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,298}}</string>
                <key>sourceSize</key>
                <string>{610,298}</string>
            </dict>
            <key>FB_T_chenggonglv_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1031},{237,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,89}}</string>
                <key>sourceSize</key>
                <string>{237,89}</string>
            </dict>
            <key>FB_T_chilun_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1407},{604,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,295}}</string>
                <key>sourceSize</key>
                <string>{604,295}</string>
            </dict>
            <key>FB_T_heizhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1571},{200,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,206}}</string>
                <key>sourceSize</key>
                <string>{200,206}</string>
            </dict>
            <key>FB_jianzaoxia_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,800},{547,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,195}}</string>
                <key>sourceSize</key>
                <string>{547,195}</string>
            </dict>
            <key>Free_chapter_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,4},{345,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,613}}</string>
                <key>sourceSize</key>
                <string>{345,613}</string>
            </dict>
            <key>Free_label_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,620},{209,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,50}}</string>
                <key>sourceSize</key>
                <string>{209,50}</string>
            </dict>
            <key>Free_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,4},{378,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,2}}</string>
                <key>sourceSize</key>
                <string>{378,2}</string>
            </dict>
            <key>Free_market_price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1031},{318,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,304}}</string>
                <key>sourceSize</key>
                <string>{318,304}</string>
            </dict>
            <key>Free_market_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1353},{641,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,96}}</string>
                <key>sourceSize</key>
                <string>{641,96}</string>
            </dict>
            <key>free_blackbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1980},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>free_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1776},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>free_carbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1908},{134,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>free_carbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,623},{141,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,171}}</string>
                <key>sourceSize</key>
                <string>{141,171}</string>
            </dict>
            <key>free_carbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,835},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,37}}</string>
                <key>sourceSize</key>
                <string>{150,41}</string>
            </dict>
            <key>free_carpeopleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1341},{155,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,206}}</string>
                <key>sourceSize</key>
                <string>{155,208}</string>
            </dict>
            <key>free_cartitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,620},{214,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,32}}</string>
                <key>sourceSize</key>
                <string>{214,32}</string>
            </dict>
            <key>free_queuepro.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1783},{147,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,24}}</string>
                <key>sourceSize</key>
                <string>{147,24}</string>
            </dict>
            <key>free_queuepro2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1980},{147,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,24}}</string>
                <key>sourceSize</key>
                <string>{147,24}</string>
            </dict>
            <key>free_queueprobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1744},{150,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{150,26}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>u_FreeCarIconBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1940},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>u_FreeCarIconBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1852},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>u_FreeConveyBarBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1274},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>u_FreeConveyBarBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1852},{112,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>u_FreeConveyBarBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1211},{112,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>u_FreeConveyBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,840},{127,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,29}}</string>
                <key>sourceSize</key>
                <string>{127,29}</string>
            </dict>
            <key>u_FreeConveyBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1310},{50,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,18}}</string>
                <key>sourceSize</key>
                <string>{50,18}</string>
            </dict>
            <key>u_FreeConveyBg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1329},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>u_FreeConveyBg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1353},{135,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{135,39}}</string>
                <key>sourceSize</key>
                <string>{139,43}</string>
            </dict>
            <key>u_FreeMarkBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1211},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>u_FreePopUpBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1407},{608,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,215}}</string>
                <key>sourceSize</key>
                <string>{608,215}</string>
            </dict>
            <key>u_FreePopulationBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1685},{84,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,126}}</string>
                <key>sourceSize</key>
                <string>{84,126}</string>
            </dict>
            <key>u_FreePopulationBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1553},{84,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,126}}</string>
                <key>sourceSize</key>
                <string>{84,126}</string>
            </dict>
            <key>u_FreePopulationIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1940},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>u_FreePopulationIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1940},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>u_FreeTradingCenterBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,800},{370,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,601}}</string>
                <key>sourceSize</key>
                <string>{370,601}</string>
            </dict>
            <key>u_FreeTradingCenterBg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{403,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,790}}</string>
                <key>sourceSize</key>
                <string>{403,790}</string>
            </dict>
            <key>u_FreeTradingCenterIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1099},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>u_FreeTradingCenterIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,987},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>u_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1817},{104,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{104,29}}</string>
                <key>sourceSize</key>
                <string>{110,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_255.pkm</string>
            <key>size</key>
            <string>{1095,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:292b7cc95be8fbf6437a51fd50e81818:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_255.pkm</string>
        </dict>
    </dict>
</plist>
