<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ML9005001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1022},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ML9006001.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1022},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>WorldFortressWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1022},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>baodian1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,902},{124,114}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{124,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baodian1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,763},{138,138}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baodian1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,614},{140,148}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baodian1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,614},{122,138}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{122,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baodian1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,753},{90,84}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{90,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baodian1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,614},{80,94}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{80,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baodian1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,869},{42,86}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{42,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon87200_mailIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,923},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>mail_icon_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,838},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>mail_icon_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,709},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tuowei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1022},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,971},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,920},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,869},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,818},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,767},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1017},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,716},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,665},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>tuowei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,614},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>u_NoticeBoardBg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,612}}</string>
                <key>sourceSize</key>
                <string>{500,612}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_4.pkm</string>
            <key>size</key>
            <string>{502,1073}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1226e65d0c40ba9f75d0fd35d46a7734:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_4.pkm</string>
        </dict>
    </dict>
</plist>
