<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default_skill_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{86,126}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{86,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill2_lv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,136},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>skill2_lv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,189},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>skill2_lv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,136},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_105.pkm</string>
            <key>size</key>
            <string>{108,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:355b70cf00aad16fc46824745b26c631:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_105.pkm</string>
        </dict>
    </dict>
</plist>
