<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaozhangBoxGlow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,539},{156,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,61}}</string>
                <key>sourceSize</key>
                <string>{156,61}</string>
            </dict>
            <key>BaozhangBoxGlow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,623},{133,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,66}}</string>
                <key>sourceSize</key>
                <string>{133,66}</string>
            </dict>
            <key>BaozhangGlow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,297},{177,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,89}}</string>
                <key>sourceSize</key>
                <string>{177,89}</string>
            </dict>
            <key>BaozhangGlow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,392},{157,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,141}}</string>
                <key>sourceSize</key>
                <string>{157,141}</string>
            </dict>
            <key>WuPinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,584},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,297},{320,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,24}}</string>
                <key>sourceSize</key>
                <string>{320,24}</string>
            </dict>
            <key>guanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,584},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guanquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,584},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>hotmg.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,606},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,69}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>lxsr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,297},{275,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,281}}</string>
                <key>sourceSize</key>
                <string>{275,281}</string>
            </dict>
            <key>mbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,287}}</string>
                <key>sourceSize</key>
                <string>{500,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_35.pkm</string>
            <key>size</key>
            <string>{508,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21049bb6ee44cc0c46e91298aacc71a8:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_35.pkm</string>
        </dict>
    </dict>
</plist>
