<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_T_choujiang_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,604},{324,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,252}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>FB_T_choujiangbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,808},{213,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,60}}</string>
                <key>sourceSize</key>
                <string>{213,60}</string>
            </dict>
            <key>FB_T_choujiangbiaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,862},{213,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{213,58}}</string>
                <key>sourceSize</key>
                <string>{213,60}</string>
            </dict>
            <key>FB_T_fanyexiaodian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,862},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>FB_T_fanyexiaodian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,862},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>FB_T_morenweikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,4},{217,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,594}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_teshuzhaomu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,4},{217,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,594}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_teshuzhaomu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,4},{217,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,594}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_tupian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,4},{217,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,594}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_tupian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,4},{217,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{217,592}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_tupian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,4},{217,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,594}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_tupian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{217,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,594}}</string>
                <key>sourceSize</key>
                <string>{217,594}</string>
            </dict>
            <key>FB_T_yingxiongbiaotizhuangshi_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,887},{644,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,33}}</string>
                <key>sourceSize</key>
                <string>{644,33}</string>
            </dict>
            <key>FB_T_yingxiongtubiaoxuanzhongkuang2_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,808},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>free_payExchangeFinishGoodsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,862},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>free_payExchangeFinishIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,604},{586,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,277}}</string>
                <key>sourceSize</key>
                <string>{586,277}</string>
            </dict>
            <key>itemFreeMoneyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,808},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>u_ResourceAdBgMoney01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,706},{644,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,96}}</string>
                <key>sourceSize</key>
                <string>{644,96}</string>
            </dict>
            <key>u_ResourceAdBgTreat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,604},{644,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,96}}</string>
                <key>sourceSize</key>
                <string>{644,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Common_281.pkm</string>
            <key>size</key>
            <string>{1574,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66315ef186bb1138f2618685ef06fc65:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Common_281.pkm</string>
        </dict>
    </dict>
</plist>
