<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{1658,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1658,484}}</string>
                <key>sourceSize</key>
                <string>{1658,484}</string>
            </dict>
            <key>yuanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,1174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1174}}</string>
                <key>sourceSize</key>
                <string>{2048,1174}</string>
            </dict>
            <key>yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1662},{500,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,137}}</string>
                <key>sourceSize</key>
                <string>{500,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Imperial_64.pkm</string>
            <key>size</key>
            <string>{2048,1799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599bdfad16c7eb86e9b3ff9de108e030:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Imperial_64.pkm</string>
        </dict>
    </dict>
</plist>
