<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carlight_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,443},{32,26}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{32,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>carlight_NW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{110,76}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{110,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>carlight_N_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{98,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>carlight_SW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,405},{38,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>carlight_SW_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,405},{90,66}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{90,66}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>carlight_S_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,197},{48,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>carlight_S_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{88,98}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{88,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>carlight_W_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,245},{14,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{14,34}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>carlight_W_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,307},{98,78}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Imperial_302.pkm</string>
            <key>size</key>
            <string>{98,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1003777cd25bbee410676a7d3af29bfd:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Imperial_302.pkm</string>
        </dict>
    </dict>
</plist>
