<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Free_market_cut_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,295},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>Free_market_cut_bg_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{147,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,30}}</string>
                <key>sourceSize</key>
                <string>{147,30}</string>
            </dict>
            <key>dianli01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,135},{18,12}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{18,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,293},{56,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{56,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,237},{58,40}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{58,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,237},{58,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{58,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,148},{32,26}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{32,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,474},{30,28}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{30,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,313},{44,36}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,265},{54,42}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,231},{50,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{50,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,217},{54,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{54,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,237},{56,48}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,237},{56,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,135},{54,44}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{54,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,133},{52,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{52,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dianli02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,81},{54,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{54,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,277},{62,60}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{62,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,312},{38,44}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{38,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,350},{36,44}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{36,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,69},{68,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{68,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1},{72,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{72,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,199},{78,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{78,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,133},{84,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{84,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,349},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1},{78,86}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,349},{76,90}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianli02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,349},{54,90}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>nonggeng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,469},{26,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,365},{28,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,445},{26,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,443},{26,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,337},{28,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,419},{26,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,337},{28,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,434},{28,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,417},{26,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,393},{26,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,350},{28,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,391},{26,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,105},{28,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,105},{28,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,365},{26,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>nonggeng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,105},{28,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>pic400000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,349},{164,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{164,98}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>pic400000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{182,72}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{182,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>pic400000_1.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{208,118}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{208,118}}</string>
                <key>sourceSize</key>
                <string>{220,150}</string>
            </dict>
            <key>pic400000_1.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,447},{48,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{48,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pic400000_1.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,179},{104,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pic400000_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{180,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pic400000_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{264,158}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{264,158}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
            <key>pic415000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,135},{48,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic415000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,133},{46,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic415000_2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,87},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,34}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>pic415000_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,133},{52,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic415000_3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,394},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pic415000_3.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,471},{34,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{34,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pic415000_sucai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,265},{182,187}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{182,187}}</string>
                <key>sourceSize</key>
                <string>{236,187}</string>
            </dict>
            <key>pic418000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,349},{92,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{92,52}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>pic418000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,183},{142,82}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{142,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>pic418000_2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,473},{32,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,108}}</string>
                <key>sourceSize</key>
                <string>{50,130}</string>
            </dict>
            <key>pic418000_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1},{132,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{132,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>pic427000_2_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,181},{168,135}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,135}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>pic432000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,313},{50,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic432000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,441},{78,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pic432000_2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,181},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic432000_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,307},{44,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic433000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,148},{31,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>pic433000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,137},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{62,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pic433000_2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,87},{46,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{46,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic433000_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,105},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic433000_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,420},{22,28}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pic433000_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,390},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pic433000_glow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,271},{41,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pic434000_2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,439},{90,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>pic434000_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{134,122}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{134,122}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>pic434000_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,179},{134,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{134,112}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>pic443000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,349},{88,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>pic443000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,313},{54,36}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{54,36}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>pic443000_1.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{104,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>pic443000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,437},{80,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>pic443000_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>pic443000_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,439},{78,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>pic444000_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,473},{32,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pic444000_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,447},{58,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic444000_2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,471},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pic444000_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,452},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{20,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shuiyuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,133},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,349},{54,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,102}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,133},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,295},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,133},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,295},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,451},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,452},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>shuiyuan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,452},{54,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,104}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Imperial_253.pkm</string>
            <key>size</key>
            <string>{1016,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f0055534a710d0f423e9e696a20dfc8:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Imperial_253.pkm</string>
        </dict>
    </dict>
</plist>
