<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FB_road_LD_Obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1694},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_LT_Obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1903},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_RD_Obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1775},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_RT_Obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1647},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_banma.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,324},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>FB_road_four_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1814},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1686},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1440},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1519},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_line_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1432},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_three_LT_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1391},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_three_RD_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1186},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_two_DR_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1628},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_two_LT_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1500},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>FB_road_two_TR_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1178},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>free_backfog.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,912},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>free_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1283,661}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1283,661}}</string>
                <key>sourceSize</key>
                <string>{1313,681}</string>
            </dict>
            <key>free_full_fog_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,662},{320,250}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,0},{320,250}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_full_fog_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1831},{266,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,30},{266,190}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_full_fog_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1842},{190,216}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,6},{190,216}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_full_fog_tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,907},{260,192}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,34},{260,192}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_full_fog_tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1167},{184,210}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,28},{184,210}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_full_fog_tree6.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,912},{266,206}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,27},{266,206}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_full_fog_tree7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1628},{214,218}}</string>
                <key>offset</key>
                <string>{-42,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,21},{214,218}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>free_lock_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1948},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>free_lock_fog_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1223},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>free_tile_grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1},{164,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,104}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>free_tile_grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1377},{205,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,168}}</string>
                <key>sourceSize</key>
                <string>{205,168}</string>
            </dict>
            <key>free_tile_grass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,165},{159,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,86}}</string>
                <key>sourceSize</key>
                <string>{159,86}</string>
            </dict>
            <key>free_tile_grass_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,924},{233,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,117}}</string>
                <key>sourceSize</key>
                <string>{233,117}</string>
            </dict>
            <key>free_tile_grass_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1882},{183,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,145}}</string>
                <key>sourceSize</key>
                <string>{183,145}</string>
            </dict>
            <key>free_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1538},{295,293}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,293}}</string>
                <key>sourceSize</key>
                <string>{323,305}</string>
            </dict>
            <key>free_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,924},{262,266}}</string>
                <key>offset</key>
                <string>{-35,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,266}}</string>
                <key>sourceSize</key>
                <string>{332,292}</string>
            </dict>
            <key>free_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,662},{313,245}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,245}}</string>
                <key>sourceSize</key>
                <string>{313,285}</string>
            </dict>
            <key>free_tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1223},{297,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,315}}</string>
                <key>sourceSize</key>
                <string>{297,315}</string>
            </dict>
            <key>free_tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,662},{262,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,300}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>free_tree6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,946},{340,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,277}}</string>
                <key>sourceSize</key>
                <string>{340,277}</string>
            </dict>
            <key>free_tree7.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1186},{205,247}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{205,247}}</string>
                <key>sourceSize</key>
                <string>{235,285}</string>
            </dict>
            <key>free_tree8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,662},{371,284}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,284}}</string>
                <key>sourceSize</key>
                <string>{371,308}</string>
            </dict>
            <key>tile_select_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,946},{256,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,277}}</string>
                <key>sourceSize</key>
                <string>{256,277}</string>
            </dict>
            <key>tile_select_spr_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1223},{256,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,277}}</string>
                <key>sourceSize</key>
                <string>{256,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Imperial_300.pkm</string>
            <key>size</key>
            <string>{1389,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346963e8e023643fb23d45e4f1de254e:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Imperial_300.pkm</string>
        </dict>
    </dict>
</plist>
