<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Free_build_help_entrance1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,790},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>Free_build_help_entrance2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,790},{51,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,153}}</string>
                <key>sourceSize</key>
                <string>{51,153}</string>
            </dict>
            <key>Free_build_help_entrance3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1},{364,117}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{364,117}}</string>
                <key>sourceSize</key>
                <string>{380,117}</string>
            </dict>
            <key>fb_screen_on_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,767},{294,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,227}}</string>
                <key>sourceSize</key>
                <string>{294,229}</string>
            </dict>
            <key>free_fence_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,447},{399,269}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{399,269}}</string>
                <key>sourceSize</key>
                <string>{399,289}</string>
            </dict>
            <key>free_fence_h_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,716},{399,245}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{399,245}}</string>
                <key>sourceSize</key>
                <string>{399,289}</string>
            </dict>
            <key>free_fence_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,479},{311,291}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{311,291}}</string>
                <key>sourceSize</key>
                <string>{311,331}</string>
            </dict>
            <key>free_fence_lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{519,234}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{519,234}}</string>
                <key>sourceSize</key>
                <string>{523,256}</string>
            </dict>
            <key>free_fence_rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{478,212}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{478,212}}</string>
                <key>sourceSize</key>
                <string>{478,232}</string>
            </dict>
            <key>free_fence_ru.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,479},{316,288}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{316,288}}</string>
                <key>sourceSize</key>
                <string>{316,334}</string>
            </dict>
            <key>free_fence_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1},{372,247}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{372,247}}</string>
                <key>sourceSize</key>
                <string>{372,271}</string>
            </dict>
            <key>free_fence_v_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,248},{372,231}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{372,231}}</string>
                <key>sourceSize</key>
                <string>{372,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Imperial_258.pkm</string>
            <key>size</key>
            <string>{1010,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fa1136227b5eae90bd02304b8681925:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Imperial_258.pkm</string>
        </dict>
    </dict>
</plist>
