<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic401000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1769},{311,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{311,228}}</string>
                <key>sourceSize</key>
                <string>{315,228}</string>
            </dict>
            <key>pic402000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1452},{302,214}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{302,214}}</string>
                <key>sourceSize</key>
                <string>{304,216}</string>
            </dict>
            <key>pic403000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1265},{326,260}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{326,260}}</string>
                <key>sourceSize</key>
                <string>{326,268}</string>
            </dict>
            <key>pic404000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1301},{156,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>pic407000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1769},{294,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,211}}</string>
                <key>sourceSize</key>
                <string>{296,211}</string>
            </dict>
            <key>pic410000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,952},{150,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,95}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>pic411000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,318},{156,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,89}}</string>
                <key>sourceSize</key>
                <string>{156,89}</string>
            </dict>
            <key>pic412000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1452},{170,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,113}}</string>
                <key>sourceSize</key>
                <string>{170,113}</string>
            </dict>
            <key>pic413000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1769},{232,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{232,156}}</string>
                <key>sourceSize</key>
                <string>{256,166}</string>
            </dict>
            <key>pic414000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1803},{176,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{176,154}}</string>
                <key>sourceSize</key>
                <string>{184,160}</string>
            </dict>
            <key>pic415000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,642},{157,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,98}}</string>
                <key>sourceSize</key>
                <string>{157,98}</string>
            </dict>
            <key>pic416000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{360,267}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{360,267}}</string>
                <key>sourceSize</key>
                <string>{366,313}</string>
            </dict>
            <key>pic417000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,495},{317,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{317,239}}</string>
                <key>sourceSize</key>
                <string>{319,241}</string>
            </dict>
            <key>pic418000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,122},{143,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,173}}</string>
                <key>sourceSize</key>
                <string>{145,173}</string>
            </dict>
            <key>pic423000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{431,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{431,278}}</string>
                <key>sourceSize</key>
                <string>{433,282}</string>
            </dict>
            <key>pic424000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{433,271}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{433,271}}</string>
                <key>sourceSize</key>
                <string>{439,275}</string>
            </dict>
            <key>pic425000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1},{425,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,317}}</string>
                <key>sourceSize</key>
                <string>{425,317}</string>
            </dict>
            <key>pic426000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1741},{293,252}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{293,252}}</string>
                <key>sourceSize</key>
                <string>{299,258}</string>
            </dict>
            <key>pic427000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic428000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,902},{358,283}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{358,283}}</string>
                <key>sourceSize</key>
                <string>{366,313}</string>
            </dict>
            <key>pic429000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1036},{338,229}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{338,229}}</string>
                <key>sourceSize</key>
                <string>{340,243}</string>
            </dict>
            <key>pic431000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1},{146,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,121}}</string>
                <key>sourceSize</key>
                <string>{146,123}</string>
            </dict>
            <key>pic432000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1301},{199,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{199,118}}</string>
                <key>sourceSize</key>
                <string>{203,118}</string>
            </dict>
            <key>pic433000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1439},{211,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{211,128}}</string>
                <key>sourceSize</key>
                <string>{217,130}</string>
            </dict>
            <key>pic434000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,799},{153,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,98}}</string>
                <key>sourceSize</key>
                <string>{153,98}</string>
            </dict>
            <key>pic435000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1525},{324,244}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{324,244}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>pic436000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1185},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>pic443000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic444000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1650},{124,153}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{124,153}}</string>
                <key>sourceSize</key>
                <string>{164,179}</string>
            </dict>
            <key>pic445000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1803},{194,133}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{194,133}}</string>
                <key>sourceSize</key>
                <string>{200,135}</string>
            </dict>
            <key>pic446000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,525},{370,245}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{370,245}}</string>
                <key>sourceSize</key>
                <string>{374,247}</string>
            </dict>
            <key>pic447000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,827},{342,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{342,209}}</string>
                <key>sourceSize</key>
                <string>{358,219}</string>
            </dict>
            <key>pic448000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,642},{361,260}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{361,260}}</string>
                <key>sourceSize</key>
                <string>{381,274}</string>
            </dict>
            <key>pic449000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1452},{322,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{322,303}}</string>
                <key>sourceSize</key>
                <string>{326,305}</string>
            </dict>
            <key>pic450000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1164},{322,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,270}}</string>
                <key>sourceSize</key>
                <string>{322,270}</string>
            </dict>
            <key>pic451000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic452000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic453000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic454000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic455000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic456000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic457000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic458000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic459000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,812},{352,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,238}}</string>
                <key>sourceSize</key>
                <string>{352,238}</string>
            </dict>
            <key>pic460000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{436,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{436,246}}</string>
                <key>sourceSize</key>
                <string>{440,252}</string>
            </dict>
            <key>pic461000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1486},{306,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,255}}</string>
                <key>sourceSize</key>
                <string>{308,255}</string>
            </dict>
            <key>pic462000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,576},{366,251}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{366,251}}</string>
                <key>sourceSize</key>
                <string>{366,313}</string>
            </dict>
            <key>pic477000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic478000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic479000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic480000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic481000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic482000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,295},{200,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{200,141}}</string>
                <key>sourceSize</key>
                <string>{210,143}</string>
            </dict>
            <key>pic483000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,272},{407,370}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{407,370}}</string>
                <key>sourceSize</key>
                <string>{421,404}</string>
            </dict>
            <key>pic484000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,318},{366,258}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{366,258}}</string>
                <key>sourceSize</key>
                <string>{366,282}</string>
            </dict>
            <key>pic485000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1185},{327,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,267}}</string>
                <key>sourceSize</key>
                <string>{327,267}</string>
            </dict>
            <key>pic488000_2_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1037},{356,264}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{356,264}}</string>
                <key>sourceSize</key>
                <string>{358,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Imperial_252.pkm</string>
            <key>size</key>
            <string>{1445,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11b5442aff631b17628a4156b33b1968:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Imperial_252.pkm</string>
        </dict>
    </dict>
</plist>
