<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FAQ_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,678},{4,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,1}}</string>
                <key>sourceSize</key>
                <string>{4,1}</string>
            </dict>
            <key>FB_loading_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,644},{495,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{495,20}}</string>
                <key>sourceSize</key>
                <string>{507,32}</string>
            </dict>
            <key>FB_loadingdi_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{507,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,32}}</string>
                <key>sourceSize</key>
                <string>{507,32}</string>
            </dict>
            <key>loading_logo_FT.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,678},{444,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,154}}</string>
                <key>sourceSize</key>
                <string>{444,154}</string>
            </dict>
            <key>loading_logo_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{453,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,159}}</string>
                <key>sourceSize</key>
                <string>{453,159}</string>
            </dict>
            <key>loading_page_down_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>loading_page_up_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>loading_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,678},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>loading_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,678},{176,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,21}}</string>
                <key>sourceSize</key>
                <string>{176,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Loading_2.pkm</string>
            <key>size</key>
            <string>{1286,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:048fac13c75b4754bf43c1c7f927f63d:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Loading_2.pkm</string>
        </dict>
    </dict>
</plist>
