<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJ_body_-45_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{92,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,146},{92,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,70},{92,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{92,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,146},{92,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,70},{92,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{92,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,146},{92,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,158},{74,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{72,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{72,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,158},{74,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{72,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{72,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,158},{74,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_-90_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{72,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,68},{92,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{92,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{92,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,68},{92,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{92,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{92,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,68},{92,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{92,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,92},{74,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,222},{72,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{72,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{74,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,92},{74,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,222},{72,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{72,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{74,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,92},{74,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{74,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ_body_90_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,222},{72,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{72,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>_alpha_Battle_soldier2.pkm</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03aea0ecfae57b0ca45e5516529ac6df:1/1$</string>
            <key>textureFileName</key>
            <string>_alpha_Battle_soldier2.pkm</string>
        </dict>
    </dict>
</plist>
